
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 133rem;
}.activity-V5n {
  backdrop-filter: blur(3.0159rem);
  box-sizing: border-box;
  padding-right: 4.618rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  box-shadow: 1.8901rem 3.1187rem 9.1227rem rgba(0, 0, 0, 0.0900000036);
  background-color: #f8f8f8;
  align-items: center;
  border: solid 1.3231rem #ffffff;
  border-radius: 2.7708rem;

  .component-1-leads-REL {
    position: relative;
    box-shadow: 0 0.4618rem 1.8472rem rgba(0, 0, 0, 0.0500000007);
    flex-shrink: 0;
    margin-right: 3.5rem;
    width: 21.8rem;
    height: 107.4rem;

    .compbg-77A {
      width: 21.2rem;
      height: 107.3rem;
      position: absolute;
      left: 0.6rem;
      top: 0.1rem;
      background-color: #ffffff;
      border-radius: 1.3rem;
    }
    .vector-CPW {
      height: 1.0707rem;
      position: absolute;
      left: 3.9927rem;
      top: 11.0833rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.9335rem;
    }
    .support-LEp {
      position: absolute;
      font-size: 1.4778rem;
      letter-spacing: -0.0185rem;
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.5);
      font-family: Inter, 'Source Sans Pro';
      width: 5.7rem;
      height: 1.9rem;
      left: 3.8792rem;
      top: 34.0351rem;
      font-weight: 600;
      line-height: 1.2500000323;
    }
    .rectangle-2360-cCL {
      height: 4.2486rem;
      position: absolute;
      left: 2.3rem;
      top: 25.3rem;
      background-color: rgba(27, 89, 248, 0.1000000015);
      border-radius: 0.9236rem;
      width: 17.8257rem;
    }
    .sidebar-menu-L8L {
      position: absolute;
      left: 7.2042rem;
      font-size: 1.2931rem;
      color: #4d4d4d;
      white-space: nowrap;
      width: 4.8rem;
      height: 1.6rem;
      font-weight: 500;
      line-height: 1.2125;
      letter-spacing: -0.0142rem;
      font-family: Inter, 'Source Sans Pro';
      cursor: pointer;
      top: 10.8524rem;
    }
    .sidebar-menu-Dxp {
      height: 1.6rem;
      position: absolute;
      left: 7.2042rem;
      font-size: 1.2931rem;
      line-height: 1.2125;
      letter-spacing: -0.0142rem;
      width: 4rem;
      top: 21.4278rem;
      font-weight: 500;
      color: #4d4d4d;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .icon-social-group24px-g5i {
      vertical-align: top;
      width: 2.2086rem;
      height: 1.2931rem;
      position: absolute;
      left: 3.7386rem;
      top: 21.3354rem;
      object-fit: contain;
    }
    .sidebar-menu-cEG {
      display: flex;
      font-size: 1.2931rem;
      line-height: 1.2125;
      color: rgba(0, 0, 0, 0.6999999881);
      white-space: nowrap;
      height: 1.6rem;
      top: 16.0632rem;
      width: 3.7rem;
      cursor: pointer;
      font-weight: 500;
      position: absolute;
      left: 7.2042rem;
      letter-spacing: -0.0142rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .path-UnG {
      object-fit: contain;
      vertical-align: top;
      width: 0.9698rem;
      height: 1.7318rem;
      position: absolute;
      left: 4.1332rem;
      top: 16.0016rem;
    }
    .sidebar-menu-RBi {
      width: 5.6rem;
      height: 1.6rem;
      left: 7.2042rem;
      display: flex;
      white-space: nowrap;
      position: absolute;
      top: 26.5924rem;
      font-size: 1.2931rem;
      font-weight: 500;
      line-height: 1.2125;
      letter-spacing: -0.0142rem;
      color: #1b59f8;
      font-family: Inter, 'Source Sans Pro';
    }
    .sidebar-menu-WU4 {
      font-family: Inter, 'Source Sans Pro';
      width: 7.1rem;
      height: 1.6rem;
      left: 7.2042rem;
      font-weight: 500;
      line-height: 1.2125;
      color: rgba(0, 0, 0, 0.6999999881);
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
      top: 38.8379rem;
      font-size: 1.2931rem;
      letter-spacing: -0.0142rem;
    }
    .vector-bEc {
      object-fit: contain;
      vertical-align: top;
      width: 1.2934rem;
      height: 1.7549rem;
      position: absolute;
      left: 3.9712rem;
      top: 38.7917rem;
    }
    .sidebar-menu-Jui {
      cursor: pointer;
      position: absolute;
      left: 7.2042rem;
      font-weight: 500;
      line-height: 1.2125;
      white-space: nowrap;
      width: 5.1rem;
      height: 1.6rem;
      top: 44.1025rem;
      font-size: 1.2931rem;
      letter-spacing: -0.0142rem;
      color: rgba(0, 0, 0, 0.6999999881);
      font-family: Inter, 'Source Sans Pro';
    }
    .vector-RUY {
      object-fit: contain;
      vertical-align: top;
      width: 1.7968rem;
      height: 1.8472rem;
      position: absolute;
      left: 3.7194rem;
      top: 43.964rem;
    }
    .vector-9QY {
      height: 1.6625rem;
      position: absolute;
      left: 3.839rem;
      top: 26.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.0079rem;
    }
    .line-20-fNt {
      background-color: #e5e5e5;
      width: 19.3959rem;
      height: 0.0924rem;
      position: absolute;
      left: 1.8472rem;
      top: 93.7467rem;
    }
    .image-1-oEC {
      width: 15.3rem;
      height: 7.3rem;
      position: relative;
      left: 3.5rem;
      top: 0.1rem;
      background-size: 100% 223.214%;
      background-position: 0 -4.2692rem;
      background-image: url('REPLACE_IMAGE:bcafc8623883cb7e9073c558473fa7b60b8ccbc1');
    }
  }
  .auto-group-bqzi-fnC {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 3.3936rem;
    width: 103.0822rem;
    align-items: center;

    .auto-group-oiqj-Cn8 {
      margin: 0rem 0.41rem 2.113rem 0rem;
      width: calc(100% - 0.4104rem);
      height: 5.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-ufek-89z {
        font-family: Inter, 'Source Sans Pro';
        margin-right: 85.5231rem;
        box-sizing: border-box;
        height: 100%;
        font-size: 2.2167rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
        padding: 2.7rem 0rem 0rem 0.1rem;
        white-space: nowrap;
      }
      .download-C9r {
        width: 8.5487rem;
        height: calc(100% - 3.2336rem);
        position: relative;
        flex-shrink: 0;
        margin: 1.837rem 0rem 1.397rem 0rem;

        .icon-download-83W {
          top: 0.1344rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.0319rem;
          height: 2.0319rem;
          position: absolute;
          left: 0;
        }
        .text-qTi {
          top: 0;
          font-size: 1.2931rem;
          color: #4d4d4d;
          white-space: nowrap;
          left: 1.9487rem;
          height: 1.7rem;
          position: absolute;
          text-align: right;
          display: flex;
          font-weight: 600;
          line-height: 1.2857142541;
          font-family: Inter, 'Source Sans Pro';
          width: 6.6rem;
        }
      }
    }
    .divider-joz {
      height: 0.0924rem;
      background-color: rgba(0, 0, 0, 0.1000000015);
      flex-shrink: 0;
      margin: 0rem 0rem 8.094rem 0.561rem;
      width: 102.521rem;
    }
    .auto-group-hx24-cct {
      margin: 0rem 0.376rem 0rem 0.6rem;
      width: calc(100% - 0.9759rem);
      height: 84.2302rem;
      position: relative;
      flex-shrink: 0;

      .top-LYt {
        position: absolute;
        left: 0.2rem;
        top: 0;
        box-shadow: 0 0.4618rem 1.8472rem rgba(0, 0, 0, 0.0500000007);
        width: 101.9063rem;
        height: 39.9302rem;

        .processsing-data--f5N {
          margin: 0rem 0rem 3.024rem 0rem;
          width: calc(100% - 0rem);
          height: 14.3759rem;
          display: flex;
          align-items: center;

          .auto-group-fnha-yrk {
            box-sizing: border-box;
            padding: 2.9rem 1.5rem 3.4rem 1.5rem;
            width: 68rem;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            border-radius: 1.8472rem;
            flex-shrink: 0;
            margin: 0rem 1.1rem 0.276rem 0rem;

            .metric-shE {
              color: #4d4d4d;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.8rem;
              display: flex;
              font-size: 2.2167rem;
              font-weight: 700;
              line-height: 1.2125;
            }
            .metric-1He {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 2rem;
              display: flex;
              font-size: 3.5rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #1b59f8;
            }
          }
          .uplaod-leads-7ba {
            align-items: center;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            flex-shrink: 0;
            border-radius: 1.8472rem;
            margin: 0.1rem 1.194rem 0.2rem 0rem;
            box-sizing: border-box;
            padding: 1.743rem 3.306rem 0.626rem 3rem;
            width: 15.8063rem;
            height: calc(100% - 0.3rem);
            display: flex;
            flex-direction: column;

            .primary-title-ozC {
              font-weight: 500;
              white-space: nowrap;
              display: flex;
              font-size: 1.2931rem;
              line-height: 1.2125;
              letter-spacing: -0.0142rem;
              color: rgba(0, 0, 0, 0.6999999881);
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 1.2rem 8.807rem 0rem;
            }
            .primary-title-irG {
              font-size: 1rem;
              font-weight: 300;
              line-height: 1.2125;
              color: rgba(0, 0, 0, 0.6999999881);
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 0.8rem;
              display: flex;
              letter-spacing: -0.0142rem;
              font-style: italic;
              white-space: nowrap;
            }
          }
          .group-289316-CWY {
            width: 15.8063rem;
            height: 14.0759rem;
            background-color: #ffffff;
            border-radius: 1.8472rem;
            box-sizing: border-box;
            padding: 1.328rem 2.206rem 1.328rem 1.583rem;
            flex-shrink: 0;
            margin-top: 0.3rem;
            border: solid 0.0924rem #eff0f6;

            .small-graph-7dW {
              flex-direction: column;
              width: 100%;
              height: 6.7725rem;
              display: flex;

              .primary-title-2Va {
                margin-bottom: 2.4725rem;
                white-space: nowrap;
                flex-shrink: 0;
                color: rgba(0, 0, 0, 0.6999999881);
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                font-size: 1.2931rem;
                font-weight: 500;
                line-height: 1.2125;
                letter-spacing: -0.0142rem;
              }
              .metric-MGx {
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 2.2167rem;
                font-weight: 700;
                line-height: 1.2125;
                color: #25d366;
                white-space: nowrap;
                margin-left: 0.018rem;
                display: flex;
              }
            }
          }
        }
        .connect-with-db-DKA {
          padding: 1.7rem 4.299rem 1.73rem 6.6rem;
          align-items: center;
          border-radius: 1.8472rem;
          margin: 0rem 1.406rem 2.17rem 0.3rem;
          box-sizing: border-box;
          border: solid 0.0924rem #eff0f6;
          background-color: #ffffff;
          width: calc(100% - 1.7063rem);
          display: flex;

          .metric-KNC {
            display: flex;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 65.5771rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .icons-Fme {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.3456rem;
            width: 0.9236rem;
            height: 0.5711rem;
          }
        }
        .generate-api-Adi {
          padding: 1.7rem 4.299rem 1.73rem 6.6rem;
          width: calc(100% - 1.7063rem);
          border: solid 0.0924rem #eff0f6;
          border-radius: 1.8472rem;
          margin: 0rem 1.406rem 2.57rem 0.3rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          background-color: #ffffff;

          .metric-f4g {
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 74.7771rem;
            font-weight: 400;
          }
          .icons-PWU {
            margin-top: 0.3456rem;
            width: 0.9236rem;
            height: 0.5711rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .mamage-data-hn4 {
          border: solid 0.0924rem #eff0f6;
          padding: 1.7rem 4.299rem 1.73rem 6.6rem;
          width: calc(100% - 1.7063rem);
          display: flex;
          align-items: center;
          margin: 0rem 1.406rem 0rem 0.3rem;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 1.8472rem;

          .metric-23e {
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 2rem;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 75.7771rem;
            color: #000000;
          }
          .icons-La8 {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.3456rem;
            width: 0.9236rem;
            height: 0.5711rem;
            object-fit: contain;
          }
        }
      }
      .social-media-apps-PYQ {
        display: flex;
        flex-direction: column;
        width: 100.7rem;
        height: 78.8302rem;
        position: absolute;
        left: 0;
        top: 5.4rem;
        align-items: flex-end;

        .whatsapp-sTa {
          margin-bottom: 2.8372rem;
          width: 100.2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-uvyy-cg4 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 1.1962rem;
            width: 100%;

            .share-1-1-9vt {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0rem 8.828rem 74.4rem;
              width: 4rem;
              height: 5rem;
            }
            .info-1-4nx {
              margin: 0rem 0rem 5.956rem 2.528rem;
              width: 2.3438rem;
              height: 2.3438rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .info-2-B6t {
              flex-shrink: 0;
              margin: 0rem 0rem 5.956rem 2.528rem;
              width: 2.3438rem;
              height: 2.3438rem;
              object-fit: contain;
              vertical-align: top;
            }
            .info-3-7FS {
              margin: 0rem 0rem 6.632rem 2.528rem;
              width: 2.3438rem;
              height: 2.3438rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .metric-3et {
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
          }
          .auto-group-lbue-aui {
            display: flex;
            flex-direction: column;
            border-radius: 1.8472rem;
            width: 100%;
            padding: 1.42rem 0.9rem 3.1rem 1.8rem;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;

            .auto-group-qgvg-7ek {
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;
              margin: 0rem 83.8rem 2.97rem 0rem;
              width: calc(100% - 83.8rem);

              .whatsapp-1-DSt {
                flex-shrink: 0;
                margin-right: 1.7rem;
                width: 2.4rem;
                height: 2.3088rem;
                object-fit: contain;
                vertical-align: top;
              }
              .metric-ZFr {
                margin-bottom: 0.1098rem;
                display: flex;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2rem;
                line-height: 1.2125;
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .metric-T6L {
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 0rem 1.2rem 4.6rem;
              color: #000000;
              white-space: nowrap;
              align-items: baseline;
              display: flex;

              .metric-T6L-sub-0 {
              }
              .metric-T6L-sub-1 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #808080;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .metric-7q6 {
              margin: 0rem 0rem 0.5rem 4.6rem;
              display: flex;
              font-weight: 400;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              align-items: baseline;
              font-size: 2rem;
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;

              .metric-7q6-sub-0 {
              }
              .metric-7q6-sub-1 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #808080;
                font-family: Inter, 'Source Sans Pro';
              }
              .metric-7q6-sub-2 {
              }
            }
            .metric-c9a {
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              line-height: 1.2125;
              color: #1b59f8;
              margin-left: 4.6rem;
              font-weight: 400;
              white-space: nowrap;
            }
          }
        }
        .telegram-ueU {
          flex-shrink: 0;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 1.588rem 4.299rem 1.617rem 2.55rem;
          display: flex;
          align-items: center;
          border: solid 0.0924rem #eff0f6;
          border-radius: 1.8472rem;
          margin: 0rem 0.5rem 2.184rem 0rem;

          .telegram-plane-1-pWY {
            flex-shrink: 0;
            margin: 0rem 1.95rem 0.13rem 0rem;
            width: 2.0998rem;
            height: 1.694rem;
            object-fit: contain;
            vertical-align: top;
          }
          .metric-kQC {
            font-weight: 400;
            display: flex;
            font-size: 2rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 78.9771rem;
          }
          .icons-rTE {
            flex-shrink: 0;
            margin-top: 0.3325rem;
            width: 0.9236rem;
            height: 0.5494rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .signal-Dwz {
          box-sizing: border-box;
          padding: 1.588rem 4.299rem 1.617rem 2.503rem;
          display: flex;
          align-items: center;
          border: solid 0.0924rem #eff0f6;
          background-color: #ffffff;
          border-radius: 1.8472rem;
          flex-shrink: 0;

          .signal-1-vbW {
            margin: 0.096rem 1.703rem 0rem 0rem;
            width: 2.3944rem;
            height: 2.3088rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .metric-enQ {
            display: flex;
            font-size: 2rem;
            font-weight: 400;
            margin-right: 82.5771rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .icons-mME {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.3325rem;
            width: 0.9236rem;
            height: 0.5494rem;
          }
        }
      }
    }
  }
}
