
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 133rem;
}.leads-jKS {
  background-color: #f8f8f8;
  width: 100%;
  height: 107.3238rem;
  overflow: hidden;
  border: solid 1.3231rem #ffffff;
  border-radius: 2.7708rem;
  position: relative;
  box-sizing: border-box;
  box-shadow: 1.8901rem 3.1187rem 9.1227rem rgba(0, 0, 0, 0.0900000036);
  backdrop-filter: blur(3.0159rem);

  .leads-rQ4 {
    width: 131.0134rem;
    height: 108.4302rem;
    display: flex;
    align-items: flex-end;

    .component-1-leads-noW {
      margin: 0rem 5.4rem 1.03rem 0rem;
      width: 21.8rem;
      height: 107.4rem;
      position: relative;
      box-shadow: 0 0.4618rem 1.8472rem rgba(0, 0, 0, 0.0500000007);
      flex-shrink: 0;

      .compbg-5Xi {
        width: 21.2rem;
        height: 107.3rem;
        position: absolute;
        left: 0.6rem;
        top: 0.1rem;
        background-color: #ffffff;
        border-radius: 1.3rem;
      }
      .vector-nwv {
        object-fit: contain;
        vertical-align: top;
        width: 1.9335rem;
        height: 1.0707rem;
        position: absolute;
        left: 3.9927rem;
        top: 11.0833rem;
      }
      .support-vYL {
        height: 1.9rem;
        top: 34.0351rem;
        font-size: 1.4778rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter, 'Source Sans Pro';
        width: 5.7rem;
        position: absolute;
        left: 3.8792rem;
        line-height: 1.2500000323;
        letter-spacing: -0.0185rem;
        white-space: nowrap;
      }
      .rectangle-2360-Bz4 {
        height: 4.2486rem;
        position: absolute;
        left: 1.7rem;
        top: 14.8rem;
        background-color: rgba(27, 89, 248, 0.1000000015);
        border-radius: 0.9236rem;
        width: 17.8257rem;
      }
      .sidebar-menu-WFe {
        height: 1.6rem;
        position: absolute;
        font-size: 1.2931rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #4d4d4d;
        font-family: Inter, 'Source Sans Pro';
        width: 4.8rem;
        white-space: nowrap;
        left: 7.2042rem;
        top: 10.8524rem;
        letter-spacing: -0.0142rem;
        cursor: pointer;
      }
      .sidebar-menu-yuv {
        height: 1.6rem;
        cursor: pointer;
        letter-spacing: -0.0142rem;
        font-family: Inter, 'Source Sans Pro';
        width: 4rem;
        position: absolute;
        left: 7.2042rem;
        top: 21.4278rem;
        font-size: 1.2931rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #4d4d4d;
        white-space: nowrap;
      }
      .icon-social-group24px-rD2 {
        top: 21.3354rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2086rem;
        height: 1.2931rem;
        position: absolute;
        left: 3.7386rem;
      }
      .sidebar-menu-n6g {
        width: 3.7rem;
        height: 1.6rem;
        left: 7.2042rem;
        display: flex;
        font-weight: 500;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 16.0632rem;
        font-size: 1.2931rem;
        letter-spacing: -0.0142rem;
        color: #1b59f8;
        white-space: nowrap;
      }
      .path-r6Y {
        width: 0.9698rem;
        height: 1.7318rem;
        position: absolute;
        left: 4.1332rem;
        top: 16.0016rem;
        object-fit: contain;
        vertical-align: top;
      }
      .sidebar-menu-nF6 {
        left: 7.2042rem;
        top: 26.5924rem;
        font-weight: 500;
        white-space: nowrap;
        letter-spacing: -0.0142rem;
        font-family: Inter, 'Source Sans Pro';
        width: 5.6rem;
        cursor: pointer;
        font-size: 1.2931rem;
        line-height: 1.2125;
        height: 1.6rem;
        position: absolute;
        display: flex;
        color: rgba(0, 0, 0, 0.6999999881);
      }
      .sidebar-menu-FeU {
        font-size: 1.2931rem;
        font-weight: 500;
        line-height: 1.2125;
        letter-spacing: -0.0142rem;
        color: rgba(0, 0, 0, 0.6999999881);
        width: 7.1rem;
        height: 1.6rem;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        left: 7.2042rem;
        top: 38.8379rem;
        white-space: nowrap;
      }
      .vector-m72 {
        object-fit: contain;
        vertical-align: top;
        width: 1.2934rem;
        height: 1.7549rem;
        position: absolute;
        left: 3.9712rem;
        top: 38.7917rem;
      }
      .sidebar-menu-W4c {
        width: 5.1rem;
        height: 1.6rem;
        font-size: 1.2931rem;
        letter-spacing: -0.0142rem;
        color: rgba(0, 0, 0, 0.6999999881);
        white-space: nowrap;
        position: absolute;
        left: 7.2042rem;
        top: 44.1025rem;
        font-weight: 500;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .vector-CTE {
        top: 43.964rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.7968rem;
        height: 1.8472rem;
        position: absolute;
        left: 3.7195rem;
      }
      .vector-Knk {
        width: 2.0079rem;
        height: 1.6625rem;
        position: absolute;
        left: 3.839rem;
        top: 26.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .line-20-51E {
        position: absolute;
        left: 1.8472rem;
        top: 93.7467rem;
        background-color: #e5e5e5;
        width: 19.3959rem;
        height: 0.0924rem;
      }
      .image-1-QJQ {
        width: 15.3rem;
        height: 7.3rem;
        position: relative;
        left: 3.5rem;
        top: 0.1rem;
        background-size: 100% 223.214%;
        background-position: 0 -4.2692rem;
        background-image: url('REPLACE_IMAGE:bcafc8623883cb7e9073c558473fa7b60b8ccbc1');
      }
    }
    .auto-group-d1xa-eTe {
      height: 102.9302rem;
      position: relative;
      flex-shrink: 0;
      width: 103.8134rem;

      .divider-ARz {
        width: 102.521rem;
        height: 0.0924rem;
        position: absolute;
        left: 0.4612rem;
        top: 6.3132rem;
        background-color: rgba(0, 0, 0, 0.1000000015);
      }
      .auto-group-oiwn-5or {
        top: 16.2rem;
        width: 103.1rem;
        height: 86.7302rem;
        position: absolute;
        left: 0.5rem;

        .title-DQG {
          left: 2.4rem;
          top: 0;
          display: flex;
          align-items: center;
          width: 93.4rem;
          height: 2.4rem;
          position: absolute;

          .primary-title-wr4 {
            letter-spacing: -0.0142rem;
            color: rgba(0, 0, 0, 0.6999999881);
            flex-shrink: 0;
            margin: 0.8rem 9.7rem 0rem 0rem;
            display: flex;
            font-size: 1.2931rem;
            font-weight: 500;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .primary-title-eEg {
            font-size: 1.2931rem;
            font-weight: 500;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            margin: 0.8rem 51.9rem 0rem 0rem;
            display: flex;
            white-space: nowrap;
            flex-shrink: 0;
            letter-spacing: -0.0142rem;
            color: rgba(0, 0, 0, 0.6999999881);
          }
          .primary-title-9SL {
            line-height: 1.2125;
            letter-spacing: -0.0142rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 5.4rem 0.4rem 0rem;
            display: flex;
            font-size: 1.2931rem;
            font-weight: 500;
            flex-shrink: 0;
            color: rgba(0, 0, 0, 0.6999999881);
          }
          .primary-title-Eig {
            line-height: 1.2125;
            letter-spacing: -0.0142rem;
            color: rgba(0, 0, 0, 0.6999999881);
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.8rem;
            display: flex;
            flex-shrink: 0;
            font-size: 1.2931rem;
            font-weight: 500;
          }
        }
        .leads-data-MYQ {
          top: 0.4956rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 103.1rem;
          height: 86.2346rem;
          position: absolute;
          left: 0;

          .auto-group-7y9i-5UQ {
            height: 8.6044rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 2rem;
            width: 100%;

            .group-289291-dF2 {
              width: 3.4rem;
              height: 3.4rem;
              position: absolute;
              left: 75.4rem;
              top: 3.9044rem;
              background-color: #535353;

              .item-2-Mgp {
                position: absolute;
                top: 0.4rem;
                font-size: 1.9rem;
                font-weight: 500;
                letter-spacing: -0.0142rem;
                height: 2.4rem;
                left: 1.0813rem;
                display: flex;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                width: 1.2rem;
              }
              .group-289293-Quz {
                height: 3.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10rem;
                top: 0;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                width: 3.4rem;
                left: 0;
                letter-spacing: -0.0142rem;
                white-space: nowrap;
                background-color: #535353;
                position: absolute;
                font-size: 1.9rem;
                font-weight: 500;
                color: #ffffff;
              }
            }
            .item-001-F9v {
              width: 103.1rem;
              height: 8.6044rem;
              position: absolute;
              left: 0;
              top: 0;
              box-shadow: 0 0.4618rem 1.8472rem rgba(0, 0, 0, 0.0500000007);

              .group-288704-xa8 {
                width: 100%;
                height: 100%;
                position: relative;

                .bounds-i3W {
                  background-color: #ffffff;
                  position: absolute;
                  box-sizing: border-box;
                  left: 0;
                  top: 2.6742rem;
                  border: solid 0.0924rem #eff0f6;
                  border-radius: 1.8472rem;
                  width: 103.1rem;
                  height: 5.9302rem;
                }
                .metric-DW4 {
                  height: 2.5rem;
                  position: absolute;
                  display: flex;
                  font-weight: 400;
                  color: #000000;
                  width: 6rem;
                  left: 2.4rem;
                  top: 4.4941rem;
                  font-size: 2rem;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .small-graph-vvG {
                  width: 8.4857rem;
                  height: 7.4044rem;
                  position: absolute;
                  left: 56.7143rem;
                  top: 0;
                  align-items: flex-end;
                  display: flex;
                  flex-direction: column;

                  .primary-title-TvC {
                    font-size: 1.2931rem;
                    letter-spacing: -0.0142rem;
                    color: rgba(0, 0, 0, 0.6999999881);
                    flex-shrink: 0;
                    margin: 0rem 0.186rem 2.304rem 0rem;
                    display: flex;
                    font-weight: 500;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .auto-group-fnpe-MEt {
                    width: 7.5rem;
                    height: 3.5rem;
                    position: relative;
                    flex-shrink: 0;

                    .metric-uGQ {
                      height: 2.5rem;
                      top: 0.5rem;
                      font-size: 2rem;
                      line-height: 1.2125;
                      color: #000000;
                      white-space: nowrap;
                      width: 4.1rem;
                      position: absolute;
                      left: 0;
                      display: flex;
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                    }
                    .image-2-Bzc {
                      height: 3.5rem;
                      position: absolute;
                      left: 3.8rem;
                      top: 0;
                      object-fit: cover;
                      vertical-align: top;
                      width: 3.7rem;
                    }
                  }
                }
                .metric-7tG {
                  top: 4.5941rem;
                  display: flex;
                  font-size: 2rem;
                  color: #000000;
                  position: absolute;
                  left: 15.1rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  width: 5.2rem;
                  height: 2.5rem;
                }
                .group-289296-DgQ {
                  align-items: center;
                  width: 24.2406rem;
                  height: 4.1689rem;
                  position: absolute;
                  left: 75.4rem;
                  top: 3.5044rem;
                  display: flex;

                  .auto-group-wrpc-x8C {
                    background-color: #535353;
                    border-radius: 10rem;
                    flex-shrink: 0;
                    margin: 0.4rem 7.8rem 0.369rem 0rem;
                    width: 3.4rem;
                    height: calc(100% - 0.7689rem);
                    position: relative;

                    .item-1-Geg {
                      line-height: 1.2125;
                      color: #ffffff;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      width: 0.9rem;
                      font-weight: 500;
                      left: 1.2rem;
                      top: 0.4rem;
                      display: flex;
                      font-size: 1.9rem;
                      letter-spacing: -0.0142rem;
                      height: 2.4rem;
                      position: absolute;
                    }
                    .group-289294-Y6Q {
                      left: 0;
                      display: flex;
                      font-size: 1.9rem;
                      line-height: 1.2125;
                      justify-content: center;
                      top: 0;
                      white-space: nowrap;
                      align-items: center;
                      background-color: #535353;
                      width: 3.4rem;
                      height: 3.4rem;
                      color: #ffffff;
                      border-radius: 10rem;
                      position: absolute;
                      font-weight: 500;
                      letter-spacing: -0.0142rem;
                      font-family: Inter, 'Source Sans Pro';
                    }
                  }
                  .auto-group-vzvp-Bv4 {
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    font-weight: 400;
                    font-size: 2rem;
                    color: #000000;
                    white-space: nowrap;
                    flex-shrink: 0;
                    width: 13.0406rem;
                    display: flex;
                  }
                }
              }
            }
          }
          .item-002-F9E {
            box-sizing: border-box;
            padding: 1.3rem 9.7rem 1.23rem 2.4rem;
            width: 100%;
            height: 5.9302rem;
            align-items: center;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            margin-bottom: 1.3698rem;
            box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.25);
            border-radius: 1.8472rem;
            flex-shrink: 0;
            display: flex;

            .metric-9VW {
              margin: 0.14rem 6.4rem 0rem 0rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
            }
            .metric-qt8 {
              display: flex;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.34rem 39.2rem 0rem 0rem;
              font-size: 2rem;
              font-weight: 400;
            }
            .metric-AfW {
              margin: 0rem 13.5rem 0.04rem 0rem;
              display: flex;
              line-height: 1.2125;
              color: #000000;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .group-289295-UAQ {
              justify-content: center;
              border-radius: 10rem;
              font-size: 1.9rem;
              align-items: center;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              line-height: 1.2125;
              font-weight: 500;
              letter-spacing: -0.0142rem;
              white-space: nowrap;
              background-color: #535353;
              margin-right: 9.2rem;
              height: 100%;
              width: 3.4rem;
              flex-shrink: 0;
            }
            .metric-91e {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              display: flex;
              margin-bottom: 0.2396rem;
            }
          }
          .item-003-ZbA {
            background-color: #ffffff;
            box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.25);
            margin-bottom: 1.5698rem;
            box-sizing: border-box;
            width: 100%;
            align-items: center;
            border-radius: 1.8472rem;
            flex-shrink: 0;
            padding: 1.1rem 7.8rem 1.43rem 2.6rem;
            height: 5.9302rem;
            display: flex;
            border: solid 0.0924rem #eff0f6;

            .metric-eMi {
              flex-shrink: 0;
              margin: 0.54rem 6.3rem 0rem 0rem;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .metric-Aqr {
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0.74rem 35.9rem 0rem 0rem;
              display: flex;
              font-size: 2rem;
              color: #000000;
            }
            .metric-JBN {
              margin: 0.36rem 13.4rem 0rem 0rem;
              font-size: 2rem;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-weight: 400;
            }
            .group-289295-Dp8 {
              line-height: 1.2125;
              letter-spacing: -0.0142rem;
              justify-content: center;
              width: 3.4rem;
              height: 100%;
              font-weight: 500;
              align-items: center;
              flex-shrink: 0;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              background-color: #535353;
              margin-right: 9.4rem;
              display: flex;
              font-size: 1.9rem;
              white-space: nowrap;
              border-radius: 10rem;
            }
            .metric-iF6 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              line-height: 1.2125;
              font-weight: 400;
              color: #000000;
              flex-shrink: 0;
              margin-top: 0.1604rem;
              font-size: 2rem;
            }
          }
          .item-004-mz4 {
            box-sizing: border-box;
            padding: 1.2rem 9.6rem 1.33rem 2.4rem;
            width: 100%;
            height: 5.9302rem;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            border-radius: 1.8472rem;
            margin-bottom: 1.9698rem;
            align-items: center;
            box-shadow: 0 0.45rem 2rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            display: flex;

            .metric-GR2 {
              margin: 0.34rem 6.3rem 0rem 0rem;
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .metric-CJg {
              margin: 0.54rem 39.2rem 0rem 0rem;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .metric-69A {
              font-size: 2rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.16rem 13.9rem 0rem 0rem;
              display: flex;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
            .group-289295-nGt {
              margin-right: 9.2rem;
              line-height: 1.2125;
              color: #ffffff;
              background-color: #535353;
              border-radius: 10rem;
              height: 100%;
              display: flex;
              letter-spacing: -0.0142rem;
              font-family: Inter, 'Source Sans Pro';
              align-items: center;
              width: 3.4rem;
              font-size: 1.9rem;
              white-space: nowrap;
              justify-content: center;
              font-weight: 500;
              flex-shrink: 0;
            }
            .metric-D7J {
              margin-bottom: 0.0396rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              line-height: 1.2125;
              color: #000000;
            }
          }
          .item-005-HN4 {
            margin-bottom: 1.9698rem;
            box-shadow: 0 0.45rem 2rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            align-items: center;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            border-radius: 1.8472rem;
            box-sizing: border-box;
            padding: 1.1rem 7.9rem 1.2rem 2.4rem;
            width: 100%;
            display: flex;

            .metric-CV2 {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.31rem 6.4rem 0rem 0rem;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .metric-ftQ {
              margin: 0.47rem 30.4rem 0rem 0rem;
              font-size: 2rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              line-height: 1.2125;
              color: #000000;
              white-space: nowrap;
            }
            .auto-group-hntc-zfn {
              position: relative;
              flex-shrink: 0;
              margin: 0.13rem 10.2rem 0rem 0rem;
              width: 7.5rem;
              height: 3.5rem;

              .metric-v3e {
                width: 4rem;
                left: 0;
                display: flex;
                font-weight: 400;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                height: 2.5rem;
                position: absolute;
                top: 0.5rem;
                font-size: 2rem;
                line-height: 1.2125;
                white-space: nowrap;
              }
              .image-3-eEY {
                vertical-align: top;
                width: 3.7rem;
                height: 3.5rem;
                position: absolute;
                left: 3.8rem;
                top: 0;
                object-fit: cover;
              }
            }
            .group-289295-aP6 {
              width: 3.4rem;
              height: 3.4rem;
              display: flex;
              flex-shrink: 0;
              border-radius: 10rem;
              margin: 0rem 9.2rem 0.23rem 0rem;
              font-size: 1.9rem;
              line-height: 1.2125;
              letter-spacing: -0.0142rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              color: #ffffff;
              align-items: center;
              background-color: #535353;
              font-weight: 500;
              justify-content: center;
            }
            .metric-ECk {
              display: flex;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.0698rem;
              font-size: 2rem;
              flex-shrink: 0;
            }
          }
          .item-006-uJt {
            margin-bottom: 1.9698rem;
            padding: 1.3rem 8.2rem 1.23rem 2.4rem;
            align-items: center;
            border-radius: 1.8472rem;
            box-shadow: 0 0.45rem 2rem rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            width: 100%;
            height: 5.9302rem;
            display: flex;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            flex-shrink: 0;

            .metric-ntU {
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0.14rem 6.3rem 0rem 0rem;
              display: flex;
              font-weight: 400;
              font-size: 2rem;
              color: #000000;
              flex-shrink: 0;
            }
            .metric-KNc {
              color: #000000;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              display: flex;
              font-weight: 400;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              margin: 0.34rem 33.4rem 0rem 0rem;
            }
            .metric-pqA {
              margin: 0rem 13.9rem 0.04rem 0rem;
              display: flex;
              font-weight: 400;
              flex-shrink: 0;
              font-size: 2rem;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .group-289295-XDn {
              font-size: 1.9rem;
              white-space: nowrap;
              margin-right: 9.2rem;
              font-weight: 500;
              line-height: 1.2125;
              letter-spacing: -0.0142rem;
              width: 3.4rem;
              height: 100%;
              display: flex;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              background-color: #535353;
              border-radius: 10rem;
            }
            .metric-QHa {
              font-size: 2rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.2396rem;
              display: flex;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
          .item-007-Mc8 {
            flex-shrink: 0;
            margin-bottom: 1.9698rem;
            width: 100%;
            background-color: #ffffff;
            border-radius: 1.8472rem;
            box-shadow: 0 0.45rem 2rem rgba(0, 0, 0, 0.25);
            border: solid 0.0924rem #eff0f6;
            box-sizing: border-box;
            padding: 1.3rem 8.1rem 1.23rem 2.4rem;
            height: 5.9302rem;
            display: flex;
            align-items: center;

            .metric-FxQ {
              line-height: 1.2125;
              white-space: nowrap;
              margin: 0.06rem 6.5rem 0rem 0rem;
              display: flex;
              font-weight: 400;
              flex-shrink: 0;
              font-size: 2rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .metric-kPN {
              white-space: nowrap;
              display: flex;
              font-family: Inter, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              flex-shrink: 0;
              margin: 0.3rem 39.8rem 0rem 0rem;
              font-size: 2rem;
            }
            .metric-5Re {
              margin: 0rem 13.5rem 0.04rem 0rem;
              display: flex;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
            }
            .group-289295-Nfe {
              letter-spacing: -0.0142rem;
              font-family: Inter, 'Source Sans Pro';
              align-items: center;
              display: flex;
              font-size: 1.9rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #ffffff;
              background-color: #535353;
              border-radius: 10rem;
              flex-shrink: 0;
              height: 100%;
              width: 3.4rem;
              white-space: nowrap;
              justify-content: center;
              margin-right: 9.2rem;
            }
            .metric-qZE {
              display: flex;
              font-size: 2rem;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              margin-bottom: 0.2396rem;
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .item-008-XS4 {
            display: flex;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            border-radius: 1.8472rem;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            height: 5.9302rem;
            box-shadow: 0 0.45rem 2rem rgba(0, 0, 0, 0.25);
            margin-bottom: 1.9698rem;
            padding: 1.23rem 7.9rem 1.3rem 2.4rem;
            align-items: center;

            .metric-qSk {
              flex-shrink: 0;
              margin: 0.279rem 6.4rem 0rem 0rem;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
            }
            .metric-wkg {
              color: #000000;
              margin: 0.44rem 31rem 0rem 0rem;
              display: flex;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
            }
            .metric-ddW {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              line-height: 1.2125;
              font-weight: 400;
              color: #000000;
              margin: 0.1rem 13.5rem 0rem 0rem;
              font-size: 2rem;
            }
            .group-289295-xQt {
              height: 100%;
              display: flex;
              white-space: nowrap;
              background-color: #535353;
              font-weight: 500;
              letter-spacing: -0.0142rem;
              color: #ffffff;
              border-radius: 10rem;
              margin-right: 9.2rem;
              width: 3.4rem;
              font-size: 1.9rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
            }
            .metric-bTr {
              color: #000000;
              margin-bottom: 0.1rem;
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2rem;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .item-009-V3S {
            align-items: center;
            padding: 1.23rem 9.5rem 1.3rem 2.4rem;
            width: 100%;
            height: 5.9302rem;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            border-radius: 1.8472rem;
            box-shadow: 0 0.45rem 2rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            margin-bottom: 2.1698rem;
            box-sizing: border-box;
            display: flex;

            .metric-CTe {
              font-size: 2rem;
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.279rem 6.3rem 0rem 0rem;
              display: flex;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .metric-KoA {
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 400;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0.479rem 39.9rem 0rem 0rem;
              display: flex;
              line-height: 1.2125;
            }
            .metric-qFi {
              flex-shrink: 0;
              margin: 0.04rem 13.4rem 0rem 0rem;
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 1.2125;
            }
            .group-289295-ZhW {
              font-family: Inter, 'Source Sans Pro';
              background-color: #535353;
              letter-spacing: -0.0142rem;
              align-items: center;
              width: 3.4rem;
              font-size: 1.9rem;
              line-height: 1.2125;
              justify-content: center;
              margin-right: 9.2rem;
              height: 100%;
              color: #ffffff;
              border-radius: 10rem;
              flex-shrink: 0;
              display: flex;
              font-weight: 500;
              white-space: nowrap;
            }
            .metric-dxG {
              margin-bottom: 0.1rem;
              font-size: 2rem;
              line-height: 1.2125;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-weight: 400;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .item-010-VzU {
            width: 100%;
            align-items: center;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            border-radius: 1.8472rem;
            flex-shrink: 0;
            margin-bottom: 1.3698rem;
            box-sizing: border-box;
            padding: 1.23rem 9.4rem 1.3rem 2.4rem;
            height: 5.9302rem;
            display: flex;
            box-shadow: 0 0.45rem 2rem rgba(0, 0, 0, 0.25);

            .metric-okG {
              display: flex;
              font-size: 2rem;
              font-weight: 400;
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.279rem 6.7rem 0rem 0rem;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .metric-LVJ {
              flex-shrink: 0;
              display: flex;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              margin: 0.44rem 23.5rem 0rem 0rem;
              font-size: 2rem;
              font-weight: 400;
              white-space: nowrap;
            }
            .metric-SYL {
              flex-shrink: 0;
              display: flex;
              line-height: 1.2125;
              color: #000000;
              white-space: nowrap;
              margin: 0.1rem 14.9rem 0rem 0rem;
              font-size: 2rem;
              font-weight: 400;
              font-family: Inter, 'Source Sans Pro';
            }
            .group-289295-3o2 {
              width: 3.4rem;
              line-height: 1.2125;
              align-items: center;
              background-color: #535353;
              margin-right: 9.2rem;
              display: flex;
              font-size: 1.9rem;
              font-weight: 500;
              letter-spacing: -0.0142rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              border-radius: 10rem;
              height: 100%;
              color: #ffffff;
              justify-content: center;
            }
            .metric-WwW {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              font-size: 2rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              font-weight: 400;
              color: #000000;
            }
          }
          .item-011-m6k {
            padding: 1.23rem 7.9rem 1.2rem 2.6rem;
            height: 5.9302rem;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            border-radius: 1.8472rem;
            box-shadow: 0 0.45rem 2rem rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;

            .metric-GpC {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              margin: 0.179rem 7rem 0rem 0rem;
              font-size: 2rem;
              flex-shrink: 0;
              display: flex;
              white-space: nowrap;
            }
            .metric-zkC {
              display: flex;
              font-weight: 400;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              margin: 0.34rem 35.5rem 0rem 0rem;
              font-size: 2rem;
              line-height: 1.2125;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-2lyk-WiY {
              margin: 0rem 10rem 0rem 0rem;
              width: 7.5rem;
              height: calc(100% - 0rem);
              position: relative;
              flex-shrink: 0;

              .metric-Dsr {
                font-family: Inter, 'Source Sans Pro';
                height: 2.5rem;
                position: absolute;
                font-size: 2rem;
                font-weight: 400;
                color: #000000;
                white-space: nowrap;
                width: 4.1rem;
                left: 0;
                top: 0.5rem;
                display: flex;
                line-height: 1.2125;
              }
              .image-3-k76 {
                height: 3.5rem;
                position: absolute;
                left: 3.8rem;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 3.7rem;
              }
            }
            .group-289295-H72 {
              height: 3.4rem;
              white-space: nowrap;
              margin: 0rem 9.4rem 0.1rem 0rem;
              width: 3.4rem;
              background-color: #535353;
              flex-shrink: 0;
              display: flex;
              font-size: 1.9rem;
              font-weight: 500;
              line-height: 1.2125;
              letter-spacing: -0.0142rem;
              align-items: center;
              border-radius: 10rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              justify-content: center;
            }
            .metric-WkU {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2125;
              display: flex;
              white-space: nowrap;
            }
          }
        }
      }
      .headsr-iLk {
        top: 8.9917rem;
        width: 103.0752rem;
        height: 4.5257rem;
        position: absolute;
        left: 0.7382rem;

        .group-92-RW4 {
          width: 101.396rem;
          height: 4.5257rem;
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          align-items: center;

          .auto-group-tjnq-m48 {
            padding: 0.831rem 1.385rem 0.677rem 1.385rem;
            width: 33.7503rem;
            border: solid 0.0924rem #eff0f6;
            background-color: #ffffff;
            flex-shrink: 0;
            margin-right: 0.9122rem;
            height: 100%;
            border-radius: 1.8472rem;
            box-sizing: border-box;

            .date-dropdown-edi {
              font-weight: 500;
              line-height: 1.2500000323;
              color: #000000;
              display: flex;
              white-space: nowrap;
              align-items: baseline;
              font-size: 1.4778rem;
              padding: 0.559rem 0rem 0.559rem 0rem;
              letter-spacing: -0.0277rem;
              border-radius: 1.8472rem;
              margin-right: 14.9712rem;
              width: 16.0098rem;
              height: 100%;
              font-family: Inter, 'Source Sans Pro';
              box-sizing: border-box;

              .date-dropdown-edi-sub-0 {
                font-weight: 500;
                line-height: 1.2500000323;
                letter-spacing: -0.0277rem;
                color: rgba(0, 0, 0, 0.6999999881);
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.4778rem;
              }
              .date-dropdown-edi-sub-1 {
                letter-spacing: -0.0277rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.4778rem;
                font-weight: 500;
                line-height: 1.2500000323;
              }
            }
          }
          .group-93-owr {
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            background-color: #ffffff;
            border-radius: 1.8472rem;
            margin-right: 32.3282rem;
            padding: 1.356rem 2.044rem 1.269rem 1.68rem;
            display: flex;
            border: solid 0.0924rem #eff0f6;
            flex-shrink: 0;

            .show-this-year-Xcx {
              letter-spacing: -0.0277rem;
              color: rgba(0, 0, 0, 0.6999999881);
              flex-shrink: 0;
              font-weight: 500;
              line-height: 1.2500001613;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              align-items: baseline;
              margin-right: 22.1713rem;
              display: flex;
              font-size: 1.4778rem;

              .show-this-year-Xcx-sub-0 {
              }
              .show-this-year-Xcx-sub-1 {
                font-weight: 500;
                line-height: 1.2500001613;
                letter-spacing: -0.0277rem;
                color: rgba(0, 0, 0, 0.6999999881);
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.4778rem;
              }
              .show-this-year-Xcx-sub-2 {
                font-size: 1.4778rem;
                font-weight: 500;
                line-height: 1.2500001613;
                letter-spacing: -0.0277rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .icon-arrow-full-down-N1J {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.1899rem;
              width: 0.655rem;
              height: 0.4242rem;
            }
          }
          .icon-arrow-full-down-dC8 {
            margin-top: 0.4619rem;
            width: 0.655rem;
            height: 0.4242rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .group-91-9wA {
          align-items: center;
          width: 71.9329rem;
          height: 4.5257rem;
          position: absolute;
          left: 31.1423rem;
          top: 0;
          display: flex;

          .icon-arrow-full-down-VVE {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.277rem 37.528rem 0rem 0rem;
            width: 0.655rem;
            height: 0.4242rem;
          }
          .group-94-zRz {
            display: flex;
            font-size: 1.4778rem;
            color: rgba(0, 0, 0, 0.6999999881);
            align-items: baseline;
            width: 33.7503rem;
            font-weight: 500;
            line-height: 1.2500001613;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #ffffff;
            border-radius: 1.8472rem;
            flex-shrink: 0;
            letter-spacing: -0.0277rem;
            box-sizing: border-box;
            padding: 1.356rem 1.711rem 1.269rem 1.711rem;
            height: 100%;
            border: solid 0.0924rem #eff0f6;

            .group-94-zRz-sub-0 {
              font-size: 1.4778rem;
              font-weight: 500;
              line-height: 1.2500001613;
              letter-spacing: -0.0277rem;
              color: rgba(0, 0, 0, 0.6999999881);
              font-family: Inter, 'Source Sans Pro';
            }
            .group-94-zRz-sub-1 {
              letter-spacing: -0.0277rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.4778rem;
              font-weight: 500;
              line-height: 1.2500001613;
            }
          }
        }
      }
      .leads-cbn {
        letter-spacing: -0.0142rem;
        position: absolute;
        left: 0;
        display: flex;
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 6.6rem;
        height: 2.8rem;
        top: 0;
        white-space: nowrap;
      }
    }
  }
}
