
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 133rem;
}.settings-Vtg {
  border-radius: 2.7708rem;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  border: solid 1.3231rem #ffffff;
  box-shadow: 1.8901rem 3.1187rem 9.1227rem rgba(0, 0, 0, 0.0900000036);
  padding-right: 4.6178rem;
  background-color: #f8f8f8;
  backdrop-filter: blur(3.0159rem);

  .component-1-leads-pvx {
    margin-right: 2.5rem;
    width: 21.8rem;
    height: 107.4rem;
    position: relative;
    box-shadow: 0 0.4618rem 1.8472rem rgba(0, 0, 0, 0.0500000007);
    flex-shrink: 0;

    .compbg-LeQ {
      position: absolute;
      left: 0.6rem;
      top: 0.1rem;
      background-color: #ffffff;
      border-radius: 1.3rem;
      width: 21.2rem;
      height: 107.3rem;
    }
    .vector-rse {
      vertical-align: top;
      width: 1.9335rem;
      height: 1.0707rem;
      position: absolute;
      left: 3.9927rem;
      top: 11.0833rem;
      object-fit: contain;
    }
    .support-mUp {
      height: 1.9rem;
      top: 34.0351rem;
      font-size: 1.4778rem;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.5);
      font-family: Inter, 'Source Sans Pro';
      width: 5.7rem;
      position: absolute;
      left: 3.8792rem;
      line-height: 1.2500000323;
      letter-spacing: -0.0185rem;
      white-space: nowrap;
    }
    .rectangle-2360-Fet {
      width: 17.8257rem;
      height: 4.2486rem;
      position: absolute;
      left: 2rem;
      top: 42.8rem;
      background-color: rgba(27, 89, 248, 0.1000000015);
      border-radius: 0.9236rem;
    }
    .sidebar-menu-Amr {
      line-height: 1.2125;
      color: #4d4d4d;
      font-family: Inter, 'Source Sans Pro';
      width: 4.8rem;
      position: absolute;
      left: 7.2042rem;
      top: 10.8524rem;
      white-space: nowrap;
      height: 1.6rem;
      font-size: 1.2931rem;
      font-weight: 500;
      letter-spacing: -0.0142rem;
    }
    .sidebar-menu-TFA {
      position: absolute;
      left: 7.2042rem;
      font-size: 1.2931rem;
      line-height: 1.2125;
      letter-spacing: -0.0142rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.8rem;
      height: 1.6rem;
      cursor: pointer;
      top: 10.8524rem;
      font-weight: 500;
      color: #4d4d4d;
    }
    .sidebar-menu-wg8 {
      position: absolute;
      left: 7.2042rem;
      font-size: 1.2931rem;
      line-height: 1.2125;
      letter-spacing: -0.0142rem;
      white-space: nowrap;
      width: 4rem;
      cursor: pointer;
      font-weight: 500;
      color: #4d4d4d;
      font-family: Inter, 'Source Sans Pro';
      height: 1.6rem;
      top: 21.4278rem;
    }
    .icon-social-group24px-4Ex {
      height: 1.2931rem;
      position: absolute;
      left: 3.7386rem;
      top: 21.3354rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.2086rem;
    }
    .sidebar-menu-Aon {
      letter-spacing: -0.0142rem;
      color: rgba(0, 0, 0, 0.6999999881);
      white-space: nowrap;
      position: absolute;
      font-size: 1.2931rem;
      font-weight: 500;
      top: 16.0632rem;
      cursor: pointer;
      left: 7.2042rem;
      display: flex;
      height: 1.6rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 3.7rem;
    }
    .path-Rji {
      width: 0.9698rem;
      height: 1.7318rem;
      position: absolute;
      left: 4.1332rem;
      top: 16.0016rem;
      object-fit: contain;
      vertical-align: top;
    }
    .sidebar-menu-yFS {
      font-weight: 500;
      letter-spacing: -0.0142rem;
      height: 1.6rem;
      cursor: pointer;
      left: 7.2042rem;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      width: 5.6rem;
      top: 26.5924rem;
      font-size: 1.2931rem;
      line-height: 1.2125;
      color: #4d4d4d;
      white-space: nowrap;
      position: absolute;
    }
    .sidebar-menu-r4L {
      position: absolute;
      top: 38.8379rem;
      font-size: 1.2931rem;
      letter-spacing: -0.0142rem;
      color: rgba(0, 0, 0, 0.6999999881);
      white-space: nowrap;
      width: 7.1rem;
      cursor: pointer;
      font-weight: 500;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 1.6rem;
      left: 7.2042rem;
    }
    .vector-ZDe {
      height: 1.7549rem;
      position: absolute;
      left: 3.9712rem;
      top: 38.7917rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.2934rem;
    }
    .sidebar-menu-GNx {
      height: 1.6rem;
      font-size: 1.2931rem;
      letter-spacing: -0.0142rem;
      color: #1b59f8;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      width: 5.1rem;
      position: absolute;
      left: 7.2042rem;
      top: 44.1025rem;
      font-weight: 500;
      line-height: 1.2125;
    }
    .vector-Az8 {
      height: 1.8472rem;
      position: absolute;
      left: 3.7194rem;
      top: 43.964rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.7968rem;
    }
    .vector-iVr {
      vertical-align: top;
      width: 2.0079rem;
      height: 1.6625rem;
      position: absolute;
      left: 3.839rem;
      top: 26.6rem;
      object-fit: contain;
    }
    .line-20-G1a {
      width: 19.3959rem;
      height: 0.0924rem;
      position: absolute;
      left: 1.8472rem;
      top: 93.7467rem;
      background-color: #e5e5e5;
    }
    .image-1-mU8 {
      background-size: 100% 223.214%;
      background-position: 0 -4.2692rem;
      background-image: url('REPLACE_IMAGE:bcafc8623883cb7e9073c558473fa7b60b8ccbc1');
      width: 15.3rem;
      height: 7.3rem;
      position: relative;
      left: 3.5rem;
      top: 0.1rem;
    }
  }
  .auto-group-xrmi-cUk {
    margin-bottom: 0.0238rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .title-YtC {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0rem 3.011rem 1.6rem;
      font-size: 2.2167rem;
      font-weight: 700;
    }
    .divider-sQg {
      flex-shrink: 0;
      margin: 0rem 0rem 4.993rem 1.561rem;
      width: 102.521rem;
      height: 0.0924rem;
      background-color: rgba(0, 0, 0, 0.1000000015);
    }
    .all-nnY {
      flex-direction: column;
      flex-shrink: 0;
      width: 101.0999rem;
      align-items: center;
      display: flex;

      .acount-jhn {
        margin: 0rem 0rem 1.5rem 0rem;
        display: flex;
        border: solid 0.0924rem #eff0f6;
        background-color: #ffffff;
        border-radius: 1.8472rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.499rem 4.4rem 1.094rem 3.6rem;
        width: calc(100% - 0rem);
        height: 14.0969rem;
        align-items: center;

        .user-group-accounts-1-DN4 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.1rem 4.296rem 0rem;
          width: 5rem;
          height: 4.5rem;
          object-fit: contain;
        }
        .auto-group-zvzn-6gk {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 64.9rem;
          height: 100%;
          display: flex;

          .metric-FJk {
            font-size: 2.2167rem;
            font-weight: 700;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 0.7043rem;
            display: flex;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .your-accounts-corporate-email-access-control-sync-subscription-aM2 {
            max-width: 16.1rem;
            font-size: 1.2522rem;
            font-weight: 400;
            letter-spacing: -0.0138rem;
            margin-left: 0rem;
            line-height: 1.2125;
            color: #606060;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .more-horizontal-1-Tvc {
          flex-shrink: 0;
          margin-bottom: 2.4957rem;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .personalization-WP6 {
        align-items: center;
        border: solid 0.0924rem #eff0f6;
        background-color: #ffffff;
        border-radius: 1.8472rem;
        flex-shrink: 0;
        padding: 4.106rem 4.9rem 3.59rem 3.85rem;
        height: 14.0969rem;
        width: calc(100% - 0rem);
        display: flex;
        margin: 0rem 0rem 1.5rem 0rem;
        box-sizing: border-box;

        .edit-write-1-oNC {
          width: 4.5303rem;
          height: 4.5303rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.32rem 0.03rem 0rem;
        }
        .auto-group-an36-77z {
          margin-right: 63.6rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .metric-Fzt {
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.2167rem;
            line-height: 1.2125;
            color: #000000;
            margin-bottom: 0.6003rem;
            display: flex;
          }
          .customize-our-software-to-your-setup-and-comfort-w72 {
            letter-spacing: -0.0138rem;
            color: #606060;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 15.4rem;
            font-size: 1.2522rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .more-horizontal-2-Ebv {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.5997rem;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
        }
      }
      .social-acc-Lur {
        margin: 0rem 0rem 2.1rem 0rem;
        display: flex;
        border-radius: 1.8472rem;
        align-items: center;
        border: solid 0.0924rem #eff0f6;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.41rem 4.9rem 3.987rem 3.355rem;
        width: calc(100% - 0rem);
        height: 14.0969rem;

        .share-1-pq2 {
          margin: 0rem 3.555rem 0rem 0rem;
          width: 5.3896rem;
          height: 5.3408rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-zfcg-ZGp {
          flex-shrink: 0;
          margin-right: 59.3rem;
          height: 100%;
          display: flex;
          flex-direction: column;

          .metric-K16 {
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.9003rem;
            display: flex;
            font-size: 2.2167rem;
            line-height: 1.2125;
            color: #000000;
          }
          .link-your-social-media-accounts-to-reach-out-to-your-prospects-leads-eZA {
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: -0.0138rem;
            color: #606060;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 20.6rem;
            font-size: 1.2522rem;
          }
        }
        .more-horizontal-3-A1i {
          flex-shrink: 0;
          margin-bottom: 0.6997rem;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .leads-interaction-prx {
        display: flex;
        align-items: center;
        margin: 0rem 0rem 1.517rem 0rem;
        height: 14.0969rem;
        width: calc(100% - 0rem);
        border: solid 0.0924rem #eff0f6;
        background-color: #ffffff;
        border-radius: 1.8472rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.299rem 5.2rem 3.883rem 4.213rem;

        .touch-interaction-1-Koi {
          margin: 0.615rem 3.212rem 0rem 0rem;
          width: 4.875rem;
          height: 5.4167rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-nxrg-3Up {
          margin-right: 57.4rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .metric-zur {
            margin-bottom: 1.1148rem;
            display: flex;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.2167rem;
            font-weight: 700;
            line-height: 1.2125;
            flex-shrink: 0;
          }
          .customize-options-through-which-you-would-like-to-reach-out-to-your-leads-YAg {
            margin-left: 0.0001rem;
            line-height: 1.2125;
            letter-spacing: -0.0138rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 22.2rem;
            font-size: 1.2522rem;
            font-weight: 400;
            color: #606060;
          }
        }
        .more-horizontal-4-EJQ {
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.8852rem;
        }
      }
      .get-help-X2c {
        margin: 0rem 0rem 1.482rem 0rem;
        box-sizing: border-box;
        align-items: center;
        background-color: #ffffff;
        border-radius: 1.8472rem;
        flex-shrink: 0;
        padding: 3rem 5.2rem 2.997rem 2.7rem;
        width: calc(100% - 0rem);
        display: flex;
        border: solid 0.0924rem #eff0f6;

        .auto-group-kedi-dbS {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.6rem 0rem 0rem;
          width: 8rem;
          height: 8rem;
          position: relative;
          object-fit: contain;
        }
        .auto-group-ozon-xtc {
          margin: 0rem 61.8rem 1rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .metric-WQL {
            margin-bottom: 1.3003rem;
            display: flex;
            font-size: 2.2167rem;
            font-weight: 700;
            color: #000000;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .contact-us-blogs-operational-instructions-etc-Yrp {
            font-size: 1.2522rem;
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: -0.0138rem;
            color: #606060;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 17.8rem;
          }
        }
        .more-horizontal-5-1Ec {
          margin-bottom: 0.0997rem;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .updattes-i92 {
        width: calc(100% - 0rem);
        display: flex;
        align-items: center;
        border: solid 0.0924rem #eff0f6;
        flex-shrink: 0;
        margin-right: 0rem;
        box-sizing: border-box;
        padding: 3.817rem 5.2rem 3.676rem 4.1rem;
        height: 14.0969rem;
        background-color: #ffffff;
        border-radius: 1.8472rem;

        .renew-1-7wr {
          flex-shrink: 0;
          margin: 0rem 2.9rem 0.196rem 0rem;
          width: 5rem;
          height: 5rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-nh1n-rPe {
          margin-right: 52.0001rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .metric-QRA {
            display: flex;
            font-size: 2.2167rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            flex-shrink: 0;
            margin: 0rem 0rem 0.804rem 0.3rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .gm-version-updates-recovery-end-end-encryption-Wj6 {
            font-weight: 400;
            line-height: 1.2125;
            letter-spacing: -0.0138rem;
            color: #606060;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 22rem;
            font-size: 1.2522rem;
          }
        }
        .more-horizontal-6-dHv {
          margin-top: 2.2037rem;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
