
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 133rem;
}.social-9C8 {
  border-radius: 2.7708rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border: solid 1.3231rem #ffffff;
  box-shadow: 1.8901rem 3.1187rem 9.1227rem rgba(0, 0, 0, 0.0900000036);
  backdrop-filter: blur(3.0159rem);
  padding-right: 3.2699rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #f8f8f8;

  .component-1-leads-fAU {
    height: 107.9rem;
    position: relative;
    box-shadow: 0 0.4618rem 1.8472rem rgba(0, 0, 0, 0.0500000007);
    flex-shrink: 0;
    margin-right: 4.0612rem;
    width: 21.8rem;

    .compbg-Asv {
      width: 21.2rem;
      height: 107.3rem;
      position: absolute;
      left: 0.6rem;
      top: 0.6rem;
      background-color: #ffffff;
      border-radius: 1.3rem;
    }
    .vector-5V6 {
      height: 1.0707rem;
      position: absolute;
      left: 3.9927rem;
      top: 11.0833rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.9335rem;
    }
    .support-zc4 {
      height: 1.9rem;
      position: absolute;
      left: 3.8792rem;
      font-size: 1.4778rem;
      line-height: 1.2500000323;
      white-space: nowrap;
      width: 5.7rem;
      top: 34.0351rem;
      font-weight: 600;
      letter-spacing: -0.0185rem;
      color: rgba(0, 0, 0, 0.5);
      font-family: Inter, 'Source Sans Pro';
    }
    .blu-fCQ {
      background-color: rgba(27, 89, 248, 0.1000000015);
      border-radius: 0.9236rem;
      width: 17.8257rem;
      height: 4.2486rem;
      position: absolute;
      left: 2rem;
      top: 20.1rem;
    }
    .sidebar-menu-nXv {
      font-weight: 500;
      letter-spacing: -0.0142rem;
      font-family: Inter, 'Source Sans Pro';
      color: #4d4d4d;
      width: 4.8rem;
      height: 1.6rem;
      position: absolute;
      left: 7.2042rem;
      top: 10.8524rem;
      font-size: 1.2931rem;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .sidebar-menu-U9r {
      width: 4rem;
      font-size: 1.2931rem;
      font-weight: 500;
      line-height: 1.2125;
      height: 1.6rem;
      position: absolute;
      left: 7.2042rem;
      top: 21.4278rem;
      letter-spacing: -0.0142rem;
      color: #1b59f8;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .icon-social-group24px-aCt {
      left: 3.7386rem;
      top: 21.3354rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.2086rem;
      height: 1.2931rem;
      position: absolute;
    }
    .sidebar-menu-uW4 {
      height: 1.6rem;
      position: absolute;
      top: 16.0632rem;
      font-size: 1.2931rem;
      font-weight: 500;
      line-height: 1.2125;
      color: rgba(0, 0, 0, 0.6999999881);
      width: 3.7rem;
      display: flex;
      letter-spacing: -0.0142rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 7.2042rem;
    }
    .path-nJx {
      top: 16.0016rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.9698rem;
      height: 1.7318rem;
      position: absolute;
      left: 4.1332rem;
    }
    .sidebar-menu-vAG {
      position: absolute;
      display: flex;
      line-height: 1.2125;
      width: 5.6rem;
      top: 26.5924rem;
      font-size: 1.2931rem;
      font-weight: 500;
      cursor: pointer;
      letter-spacing: -0.0142rem;
      color: rgba(0, 0, 0, 0.6999999881);
      white-space: nowrap;
      left: 7.2042rem;
      font-family: Inter, 'Source Sans Pro';
      height: 1.6rem;
    }
    .sidebar-menu-D9N {
      left: 7.2042rem;
      top: 38.8379rem;
      font-weight: 500;
      letter-spacing: -0.0142rem;
      color: rgba(0, 0, 0, 0.6999999881);
      white-space: nowrap;
      width: 7.1rem;
      height: 1.6rem;
      position: absolute;
      font-size: 1.2931rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .vector-gHr {
      position: absolute;
      left: 3.9712rem;
      top: 38.7917rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.2934rem;
      height: 1.7549rem;
    }
    .sidebar-menu-pex {
      height: 1.6rem;
      position: absolute;
      left: 7.2042rem;
      font-size: 1.2931rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 5.1rem;
      top: 44.1025rem;
      font-weight: 500;
      letter-spacing: -0.0142rem;
      color: rgba(0, 0, 0, 0.6999999881);
      white-space: nowrap;
    }
    .vector-iVS {
      height: 1.8472rem;
      position: absolute;
      left: 3.7195rem;
      top: 43.964rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.7968rem;
    }
    .vector-qa4 {
      left: 3.839rem;
      top: 26.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.0079rem;
      height: 1.6625rem;
      position: absolute;
    }
    .line-20-P5n {
      height: 0.0924rem;
      position: absolute;
      left: 1.8472rem;
      top: 93.7467rem;
      background-color: #e5e5e5;
      width: 19.3959rem;
    }
    .image-1-7Xa {
      position: relative;
      left: 3.5rem;
      top: 0.1rem;
      background-size: 100% 223.214%;
      background-position: 0 -4.2692rem;
      background-image: url('REPLACE_IMAGE:bcafc8623883cb7e9073c558473fa7b60b8ccbc1');
      width: 15.3rem;
      height: 7.3rem;
    }
  }
  .auto-group-hnvz-aAG {
    margin-top: 3.4066rem;
    width: 103.8692rem;
    flex-shrink: 0;

    .auto-group-ugma-HKa {
      margin: 0rem 1.759rem 3.407rem 0rem;
      width: calc(100% - 1.7586rem);
      display: flex;
      align-items: flex-end;

      .title-1WU {
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 86.862rem;
        font-size: 2.2167rem;
      }
      .download-LYk {
        margin-bottom: 0.1031rem;
        width: 8.5487rem;
        height: 2.1664rem;
        position: relative;
        flex-shrink: 0;

        .icon-download-sHn {
          vertical-align: top;
          width: 2.0319rem;
          height: 2.0319rem;
          position: absolute;
          left: 0;
          top: 0.1344rem;
          object-fit: contain;
        }
        .text-oSL {
          width: 6.6rem;
          height: 1.7rem;
          left: 1.9487rem;
          top: 0;
          font-size: 1.2931rem;
          color: #4d4d4d;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          text-align: right;
          display: flex;
          font-weight: 600;
          line-height: 1.2857142541;
          white-space: nowrap;
        }
      }
    }
    .divider-U2g {
      margin-bottom: 2.5861rem;
      width: 102.521rem;
      height: 0.0924rem;
      background-color: rgba(0, 0, 0, 0.1000000015);
    }
    .headrr-yk8 {
      width: calc(100% - 0.794rem);
      height: 4.5257rem;
      display: flex;
      column-gap: 0.9122rem;
      align-items: center;
      margin: 0rem 0.517rem 1.583rem 0.277rem;

      .group-92-GUL {
        height: 100%;
        display: flex;
        background-color: #ffffff;
        border-radius: 1.8472rem;
        flex-shrink: 0;
        box-sizing: border-box;
        align-items: center;
        border: solid 0.0924rem #eff0f6;
        padding: 0.831rem 1.953rem 0.677rem 1.385rem;

        .date-dropdown-bFi {
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 1.8472rem;
          flex-shrink: 0;
          margin-right: 13.748rem;
          box-sizing: border-box;
          padding: 0.509rem 6.77rem 0.509rem 0rem;

          .show-this-year-7zk {
            letter-spacing: -0.03rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 0.0767rem;
            font-weight: 500;
            line-height: 1.25;
            color: rgba(0, 0, 0, 0.6999999881);
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
          }
          .icon-arrow-full-down-qA4 {
            height: 0.4242rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0rem;
            width: 0.6632rem;
          }
        }
        .icon-arrow-full-down-Z64 {
          margin-top: 0.1231rem;
          width: 0.655rem;
          height: 0.4242rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .group-93-ECC {
        height: 100%;
        align-items: center;
        flex-shrink: 0;
        padding: 1.356rem 2.044rem 1.269rem 1.68rem;
        display: flex;
        border: solid 0.0924rem #eff0f6;
        background-color: #ffffff;
        border-radius: 1.8472rem;
        box-sizing: border-box;

        .show-this-year-ALk {
          display: flex;
          font-size: 1.4778rem;
          font-weight: 500;
          line-height: 1.2500001613;
          letter-spacing: -0.0277rem;
          color: rgba(0, 0, 0, 0.6999999881);
          margin-right: 23.8713rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          flex-shrink: 0;

          .show-this-year-ALk-sub-0 {
          }
          .show-this-year-ALk-sub-1 {
            font-size: 1.4778rem;
            font-weight: 500;
            line-height: 1.2500001613;
            letter-spacing: -0.0277rem;
            color: rgba(0, 0, 0, 0.6999999881);
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .icon-arrow-full-down-6di {
          margin-top: 0.1899rem;
          width: 0.655rem;
          height: 0.4242rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .group-91-o2L {
        flex-shrink: 0;
        width: 33.7503rem;
        height: 100%;
        position: relative;

        .icon-arrow-full-down-Xj2 {
          object-fit: contain;
          vertical-align: top;
          width: 1.1378rem;
          height: 0.5773rem;
          position: absolute;
          left: 30.0124rem;
          top: 1.9742rem;
        }
        .group-94-EtL {
          align-items: center;
          border: solid 0.0924rem #eff0f6;
          background-color: #ffffff;
          box-sizing: border-box;
          width: 33.7503rem;
          left: 0;
          top: 0;
          display: flex;
          padding: 1.356rem 1.679rem 1.269rem 1.711rem;
          height: 4.5257rem;
          position: absolute;
          border-radius: 1.8472rem;

          .show-this-year-XsS {
            line-height: 1.2500001613;
            letter-spacing: -0.0277rem;
            color: rgba(0, 0, 0, 0.6999999881);
            flex-shrink: 0;
            margin-right: 25.2047rem;
            display: flex;
            font-size: 1.4778rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .icon-arrow-full-down-rPv {
            width: 0.655rem;
            height: 0.4242rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.3746rem;
          }
        }
      }
    }
    .socail-anal-9dv {
      box-sizing: border-box;
      padding-right: 3.324rem;
      width: calc(100% - 0.2771rem);
      height: 14.4329rem;
      display: flex;
      align-items: flex-end;
      box-shadow: 0 0.4618rem 1.8472rem rgba(0, 0, 0, 0.0500000007);
      margin: 0rem 0rem 3.967rem 0.277rem;

      .group-288704-3DW {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1.156rem 0rem 0rem;
        height: 14.0759rem;
        display: flex;

        .auto-group-mome-y7A {
          margin-right: 1.0656rem;
          box-sizing: border-box;
          padding: 1.643rem 1.6618rem;
          width: 15.8063rem;
          height: 100%;
          border: solid 0.0924rem #eff0f6;
          border-radius: 1.8472rem;
          flex-shrink: 0;
          background-color: #ffffff;

          .small-graph-hYx {
            width: 8.1rem;
            height: 7.1969rem;

            .primary-title-rRr {
              margin-bottom: 1.2969rem;
              font-family: Inter, 'Source Sans Pro';
              line-height: 1.2125;
              letter-spacing: -0.0142rem;
              color: rgba(0, 0, 0, 0.6999999881);
              max-width: 8.1rem;
              display: flex;
              font-size: 1.2931rem;
              font-weight: 500;
            }
            .metric-ZbA {
              align-items: baseline;
              display: flex;
              font-size: 2.2167rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;

              .metric-ZbA-sub-0 {
              }
              .metric-ZbA-sub-1 {
                font-size: 1.5701rem;
                font-weight: 600;
                line-height: 1.2125;
                color: rgba(0, 0, 0, 0.5);
                font-family: Inter, 'Source Sans Pro';
              }
            }
          }
        }
        .auto-group-vwn4-rTn {
          margin-right: 1.0212rem;
          width: 15.8063rem;
          height: 100%;
          box-sizing: border-box;
          padding: 1.3705rem 1.5953rem;
          border: solid 0.0924rem #eff0f6;
          background-color: #ffffff;
          border-radius: 1.8472rem;
          flex-shrink: 0;

          .small-graph-PTi {
            width: 6.5051rem;
            height: 6.7953rem;

            .primary-title-Ltk {
              line-height: 1.2125;
              letter-spacing: -0.0142rem;
              color: rgba(0, 0, 0, 0.6999999881);
              font-family: Inter, 'Source Sans Pro';
              margin: 0rem 0rem 2.495rem 0.005rem;
              display: flex;
              font-size: 1.2931rem;
              font-weight: 500;
              white-space: nowrap;
            }
            .metric-R9W {
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 2.2167rem;
            }
          }
        }
        .auto-group-9g4k-8Zi {
          box-sizing: border-box;
          padding: 1.371rem 3.124rem 1.371rem 1.583rem;
          width: 15.8063rem;
          height: 100%;
          border: solid 0.0924rem #eff0f6;
          background-color: #ffffff;
          border-radius: 1.8472rem;
          flex-shrink: 0;

          .small-graph-rkc {
            width: 100%;
            height: 6.7953rem;
            display: flex;
            flex-direction: column;

            .primary-title-zbv {
              font-weight: 500;
              color: rgba(0, 0, 0, 0.6999999881);
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1.2931rem;
              line-height: 1.2125;
              letter-spacing: -0.0142rem;
              margin-bottom: 2.4953rem;
            }
            .metric-tBW {
              font-size: 2.2167rem;
              font-weight: 700;
              line-height: 1.2125;
              white-space: nowrap;
              display: flex;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 0.0436rem;
            }
          }
        }
      }
      .group-288703-xBN {
        margin-bottom: 0.057rem;
        height: calc(100% - 0.057rem);
        display: flex;
        column-gap: 1.0937rem;
        align-items: center;
        flex-shrink: 0;

        .auto-group-tgut-UvQ {
          border-radius: 1.8472rem;
          flex-shrink: 0;
          margin: 0.2rem 0rem 0.1rem 0rem;
          box-sizing: border-box;
          width: 15.8063rem;
          height: calc(100% - 0.3rem);
          border: solid 0.0924rem #eff0f6;
          padding: 1.617rem 1.585rem 1.995rem 1.54rem;
          background-color: #ffffff;

          .small-graph-ksv {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .primary-title-iJx {
              font-weight: 500;
              line-height: 1.2125;
              color: rgba(0, 0, 0, 0.6999999881);
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 2.14rem 0.113rem;
              font-size: 1.2931rem;
              letter-spacing: -0.0142rem;
              font-family: Inter, 'Source Sans Pro';
            }
            .metric-6KW {
              flex-shrink: 0;
              margin: 0rem 0rem 0.939rem 0.086rem;
              display: flex;
              font-size: 2.2167rem;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 700;
            }
            .graph-bn4 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 12.6813rem;
              height: 3.0848rem;
              position: relative;
            }
          }
        }
        .auto-group-ryec-goW {
          padding: 1.617rem 1.435rem 1.921rem 1.59rem;
          border: solid 0.0924rem #eff0f6;
          background-color: #ffffff;
          border-radius: 1.8472rem;
          flex-shrink: 0;
          margin-top: 0.3rem;
          box-sizing: border-box;
          width: 15.8063rem;
          height: 14.0759rem;

          .small-graph-bvU {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .primary-title-ATn {
              color: rgba(0, 0, 0, 0.6999999881);
              flex-shrink: 0;
              margin: 0rem 0rem 2.162rem 0.031rem;
              font-size: 1.2931rem;
              font-weight: 500;
              line-height: 1.2125;
              letter-spacing: -0.0142rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .metric-Gmi {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2421rem;
              display: flex;
              font-size: 2.2167rem;
              font-weight: 700;
            }
            .graph-cKn {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-left: 0.0114rem;
              width: 12.7699rem;
              height: 3.8339rem;
              position: relative;
            }
          }
        }
        .auto-group-avme-h6L {
          margin-bottom: 0.3rem;
          padding: 1.689rem 1.867rem 1.895rem 0.987rem;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          box-sizing: border-box;
          width: 15.8063rem;
          align-items: center;
          border: solid 0.0924rem #eff0f6;
          border-radius: 1.8472rem;
          flex-shrink: 0;

          .small-graph-ov4 {
            margin: 0rem 0.945rem 1.055rem 0rem;
            box-sizing: border-box;
            padding: 0.066rem 0.484rem 0rem 0.484rem;
            width: 12.007rem;
            flex-shrink: 0;

            .primary-title-jHv {
              color: rgba(0, 0, 0, 0.6999999881);
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.9866rem;
              font-size: 1.2931rem;
              font-weight: 500;
              line-height: 1.2125;
              letter-spacing: -0.0142rem;
            }
            .metric-fBa {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-left: 0.1831rem;
              display: flex;
              font-size: 2.2167rem;
              font-weight: 700;
              line-height: 1.2125;
            }
          }
          .graph-yxx {
            vertical-align: top;
            flex-shrink: 0;
            margin-left: 1.4996rem;
            width: 11.4528rem;
            height: 3.0848rem;
            position: relative;
            object-fit: contain;
          }
        }
      }
    }
    .social-media-apps-rG4 {
      margin-left: 0.2388rem;
      width: 100.8rem;
      height: 59.6rem;
      position: relative;

      .facebook-8Da {
        box-sizing: border-box;
        align-items: center;
        background-color: #ffffff;
        padding: 1.7rem 4.299rem 1.73rem 2.3rem;
        width: 100.2rem;
        height: 5.9302rem;
        position: absolute;
        left: 0.6rem;
        top: 32rem;
        display: flex;
        border: solid 0.0924rem #eff0f6;
        border-radius: 1.8472rem;

        .vector-a5a {
          width: 2rem;
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 2.3rem 0rem 0rem;
        }
        .metric-fsi {
          margin-right: 78.4771rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
        }
        .icons-oj2 {
          height: 0.5711rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.3456rem;
          width: 0.9236rem;
        }
      }
      .whatsapp-tkU {
        width: 100.2rem;
        height: 30.7rem;
        position: absolute;
        left: 0;
        top: 0;

        .metric-dCG {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 0.9rem 2rem;
          display: flex;
        }
        .auto-group-gpwt-kng {
          align-items: center;
          border: solid 0.0924rem #eff0f6;
          margin-bottom: 1.9698rem;
          width: 100%;
          display: flex;
          border-radius: 1.8472rem;
          box-sizing: border-box;
          padding: 1.7rem 4.299rem 1.73rem 2.5rem;
          background-color: #ffffff;

          .whatsapp-1-ssJ {
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.1rem 1.7rem 0rem 0rem;
          }
          .metric-okx {
            flex-shrink: 0;
            margin-right: 78.7771rem;
            display: flex;
            font-weight: 400;
            white-space: nowrap;
            font-size: 2rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .icons-jec {
            width: 0.9236rem;
            height: 0.5711rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.3456rem;
          }
        }
        .telegram-Qkk {
          box-sizing: border-box;
          padding: 1.7rem 4.299rem 1.73rem 2.55rem;
          background-color: #ffffff;
          border: solid 0.0924rem #eff0f6;
          border-radius: 1.8472rem;
          margin-bottom: 1.9698rem;
          width: 100%;
          display: flex;
          align-items: center;

          .telegram-plane-1-wEt {
            margin: 0rem 1.95rem 0.135rem 0rem;
            width: 2.0998rem;
            height: 1.7609rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .metric-4KW {
            margin-right: 78.9771rem;
            display: flex;
            line-height: 1.2125;
            white-space: nowrap;
            font-size: 2rem;
            font-weight: 400;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .icons-baL {
            margin-top: 0.3456rem;
            width: 0.9236rem;
            height: 0.5711rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .signal-4yi {
          width: 100%;
          border-radius: 1.8472rem;
          display: flex;
          align-items: center;
          border: solid 0.0924rem #eff0f6;
          background-color: #ffffff;
          margin-bottom: 3.0698rem;
          box-sizing: border-box;
          padding: 1.7rem 4.299rem 1.73rem 2.503rem;

          .signal-1-QGt {
            margin: 0.1rem 1.703rem 0rem 0rem;
            width: 2.3944rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .metric-XcQ {
            line-height: 1.2125;
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 82.5771rem;
            display: flex;
            font-size: 2rem;
            font-weight: 400;
          }
          .icons-SUU {
            width: 0.9236rem;
            height: 0.5711rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.3456rem;
          }
        }
        .metric-kk4 {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 2rem;
          display: flex;
        }
      }
      .tweet-Ug4 {
        width: 99.9rem;
        height: 35.5rem;
        position: absolute;
        left: 0.6rem;
        top: 24.1rem;

        .twitter-1-PHE {
          margin: 0rem 0rem 21.4rem 3.8rem;
          width: 2rem;
          height: 2rem;
          overflow: hidden;
          position: relative;
        }
        .auto-group-mm6l-hHv {
          padding: 1.7rem 4.286rem 1.73rem 2.5rem;
          border-radius: 1.8472rem;
          margin-bottom: 3.7698rem;
          box-sizing: border-box;
          align-items: center;
          border: solid 0.0924rem #eff0f6;
          background-color: #ffffff;
          width: 100%;
          display: flex;

          .vector-pdS {
            height: 1.4629rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.363rem 2.28rem 0rem 0rem;
            width: 1.8rem;
          }
          .metric-ftx {
            margin-right: 78.1125rem;
            display: flex;
            font-size: 2rem;
            color: #000000;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .icons-Qbe {
            margin-top: 0.3456rem;
            width: 0.9208rem;
            height: 0.5711rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .instagram-1-hqe {
          overflow: hidden;
          position: relative;
          margin: 0rem 58.2rem 0rem 39.3rem;
          width: calc(100% - 97.5rem);
          height: 2.4rem;
        }
      }
      .instagram-dUQ {
        padding: 1.7rem 4.295rem 1.73rem 1.9rem;
        position: absolute;
        display: flex;
        border: solid 0.0924rem #eff0f6;
        background-color: #ffffff;
        border-radius: 1.8472rem;
        box-sizing: border-box;
        width: 100.1rem;
        height: 5.9302rem;
        left: 0.6rem;
        top: 39.5rem;
        align-items: center;

        .vector-XZn {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 2.293rem 0rem 0rem;
          width: 2.4rem;
          height: 2.4rem;
        }
        .metric-fR6 {
          font-size: 2rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 78.7889rem;
          display: flex;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
        .icons-QNg {
          margin-top: 0.3456rem;
          width: 0.9227rem;
          height: 0.5711rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
