
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 133rem;
}.get-started-SHA {
  width: 100%;
  height: 138.2rem;
  position: relative;
  overflow: hidden;
  border: solid 1.3231rem #ffffff;
  box-sizing: border-box;
  box-shadow: 1.8901rem 3.1187rem 9.1227rem rgba(0, 0, 0, 0.0900000036);
  backdrop-filter: blur(3.0159rem);
  background-color: #f8f8f8;
  border-radius: 2.7708rem;
}
.get-started-SHA .rectangle-2362-Mf2 {
  width: 104.1rem;
  height: 24.4rem;
  position: absolute;
  left: 24.3rem;
  top: 11.5rem;
  background-color: #ffffff;
  border-radius: 2rem;
}


.custom-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the default text color (parent color) */
  cursor: pointer; /* Show pointer cursor on hover, indicating a clickable element */
  
}



.get-started-SHA .rectangle-2363-fvc {
  width: 104.1rem;
  height: 75.6rem;
  position: absolute;
  left: 25rem;
  top: 40.4rem;
  background-color: #ffffff;
  border-radius: 2rem;
}
.get-started-SHA .divider-zxt {
  width: 102.521rem;
  height: 0.1189rem;
  position: absolute;
  left: 25.8612rem;
  top: 12.2501rem;
  background-color: rgba(0, 0, 0, 0.1000000015);
}
.get-started-SHA .title-8pC {
  width: 12.6rem;
  height: 2.7rem;
  position: absolute;
  left: 25.4rem;
  top: 4.7rem;
  font-size: 2.2167rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.get-started-SHA .twitter-1-PVE {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 30.5rem;
  top: 60.8rem;
  overflow: hidden;
}
.get-started-SHA .component-1-leads-8Sp {
  box-sizing: border-box;
  padding: 0.1rem 0rem 0rem 0.6rem;
  width: 120.3rem;
  height: 140.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 0.4618rem 1.8472rem rgba(0, 0, 0, 0.0500000007);
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S {
  margin-right: 5.3rem;
  box-sizing: border-box;
  padding: 0rem 0.557rem 46.261rem 1.247rem;
  width: 21.2rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1.3rem;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .image-1-GhS {
  margin: 0rem 0.79rem 3.452rem 0rem;
  width: 15.3rem;
  height: 7.3rem;
  position: relative;
  background-size: 100% 223.214%;
  background-position: 0 -4.2692rem;
  background-image: url('../assets/image-1-Yje.png');
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-54e8-Mit {
  margin: 0rem 9.239rem 3.549rem 2.145rem;
  width: calc(100% - 11.3843rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-54e8-Mit .vector-tD2 {
  margin: 0rem 1.278rem 0.067rem 0rem;
  width: 1.9335rem;
  height: 1.0707rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-54e8-Mit .sidebar-menu-arY {
  font-size: 1.2931rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.0142rem;
  color: #4d4d4d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-yzgt-udv {
  margin: 0rem 10.339rem 3.602rem 2.286rem;
  width: calc(100% - 12.6248rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-yzgt-udv .path-1gx {
  margin-right: 2.1013rem;
  width: 0.9698rem;
  height: 1.7318rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-yzgt-udv .sidebar-menu-xcC {
  margin-bottom: 0.0085rem;
  display: flex;
  font-size: 1.2931rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.0142rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-ziig-eE8 {
  margin: 0rem 10.039rem 3.565rem 1.891rem;
  width: calc(100% - 11.9303rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-ziig-eE8 .icon-social-group24px-hCQ {
  margin-right: 1.2569rem;
  width: 2.2086rem;
  height: 1.2931rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-ziig-eE8 .sidebar-menu-1it {
  margin-top: 0.0924rem;
  font-size: 1.2931rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.0142rem;
  color: #4d4d4d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-ufic-jet {
  margin: 0rem 8.439rem 5.773rem 1.992rem;
  width: calc(100% - 10.4307rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-ufic-jet .vector-sm6 {
  margin: 0.008rem 1.357rem 0rem 0rem;
  width: 2.0079rem;
  height: 1.6625rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-ufic-jet .sidebar-menu-cTn {
  margin-bottom: 0.0701rem;
  display: flex;
  font-size: 1.2931rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.0142rem;
  color: #4d4d4d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .support-wFA {
  margin: 0rem 9.632rem 1.565rem 0rem;
  font-size: 1.4778rem;
  font-weight: 600;
  line-height: 1.2500000323;
  letter-spacing: -0.0185rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-zbgg-21i {
  margin: 0rem 1.418rem 2.215rem 0.153rem;
  box-sizing: border-box;
  padding: 1.292rem 5.521rem 1.202rem 1.971rem;
  width: calc(100% - 1.5701rem);
  display: flex;
  align-items: center;
  background-color: rgba(27, 89, 248, 0.1000000015);
  border-radius: 0.9236rem;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-zbgg-21i .vector-vsn {
  margin-right: 1.9396rem;
  width: 1.2934rem;
  height: 1.7549rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-zbgg-21i .sidebar-menu-GRr {
  margin-bottom: 0.0625rem;
  font-size: 1.2931rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.0142rem;
  color: #1b59f8;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-akiu-My6 {
  margin: 0rem 8.939rem 47.936rem 1.872rem;
  width: calc(100% - 10.8111rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-akiu-My6 .vector-tCL {
  margin-right: 1.6879rem;
  width: 1.7968rem;
  height: 1.8472rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .auto-group-akiu-My6 .sidebar-menu-zmA {
  margin-top: 0.0299rem;
  font-size: 1.2931rem;
  font-weight: 500;
  line-height: 1.2125;
  letter-spacing: -0.0142rem;
  color: rgba(0, 0, 0, 0.6999999881);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-u3de-Q9S .line-20-63W {
  width: 100%;
  height: 0.0924rem;
  background-color: #e5e5e5;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-xk6c-aUU {
  margin-top: 14.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-xk6c-aUU .title-LCk {
  margin-bottom: 2.6rem;
  font-size: 2.2167rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-xk6c-aUU .title-GMJ {
  margin-bottom: 12.5rem;
  max-width: 93.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.get-started-SHA .component-1-leads-8Sp .auto-group-xk6c-aUU .title-oME {
  margin-left: 1.1rem;
  font-size: 2.2167rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.get-started-SHA .this-step-by-step-guide-we-will-navigate-through-the-process-of-creating-a-gray-matter-account-generating-api-keys-and-integrating-them-into-your-website-we-offer-a-user-friendly-platform-with-a-suite-of-features-designed-to-streamline-the-leads-management-process-by-following-these-outlined-steps-youll-be-equipped-to-enhance-your-websites-capabilities-ensuring-a-secure-and-efficient-experience-for-your-customers-create-a-gray-matter-account-begin-by-visiting-the-official-gray-matter-website-and-sign-up-for-an-account-provide-the-required-details-and-complete-the-registration-process-shortly-our-team-will-get-in-touch-with-you-access-the-redleads-dashboard-upon-successful-registration-log-in-to-your-gray-matter-account-you-will-be-directed-to-the-redleads-dashboard-which-serves-as-the-central-hub-for-managing-your-leads-prospect-settings-navigate-to-api-keys-section-in-the-redleads-dashboard-locate-the-settings-option-in-the-left-hand-menu-under-settings-select-api-keys-generate-api-keys-once-in-the-api-keys-section-you-will-find-options-to-generate-both-the-key-id-and-key-secret-click-on-the-generate-key-secret-button-to-create-a-new-set-of-api-keys-securely-store-api-keys-after-generating-the-api-keys-it-is-crucial-to-securely-store-them-the-key-id-and-key-secret-are-essential-for-integrating-gray-matter-with-your-website-avoid-sharing-these-credentials-publicly-integration-with-your-website-now-integrate-redleads-with-your-website-by-incorporating-the-api-keys-into-your-crm-software-other-software-used-for-managing-customers-this-process-may-vary-based-on-your-websites-technology-stack-implement-redleads-sdk-to-enhance-the-user-experience-consider-implementing-the-redleads-sdk-on-your-website-the-sdk-facilitates-a-seamless-payment-process-and-provides-additional-customization-options-step-10-monitor-and-optimize-regularly-monitor-your-redleads-dashboard-for-transaction-insights-and-analytics-this-will-help-you-optimize-the-payment-process-and-address-any-issues-promptly-by-following-these-steps-you-can-seamlessly-integrate-gray-matters-red-leads-into-your-website-enabling-secure-and-efficient-online-transactions-remember-to-keep-your-api-keys-confidential-conduct-thorough-testing-and-stay-informed-about-updates-from-razorpay-for-continuous-improvement-7cp {
  width: 94.2rem;
  height: 60.1rem;
  position: absolute;
  left: 27.1rem;
  top: 48.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.get-started-SHA .this-step-by-step-guide-we-will-navigate-through-the-process-of-creating-a-gray-matter-account-generating-api-keys-and-integrating-them-into-your-website-we-offer-a-user-friendly-platform-with-a-suite-of-features-designed-to-streamline-the-leads-management-process-by-following-these-outlined-steps-youll-be-equipped-to-enhance-your-websites-capabilities-ensuring-a-secure-and-efficient-experience-for-your-customers-create-a-gray-matter-account-begin-by-visiting-the-official-gray-matter-website-and-sign-up-for-an-account-provide-the-required-details-and-complete-the-registration-process-shortly-our-team-will-get-in-touch-with-you-access-the-redleads-dashboard-upon-successful-registration-log-in-to-your-gray-matter-account-you-will-be-directed-to-the-redleads-dashboard-which-serves-as-the-central-hub-for-managing-your-leads-prospect-settings-navigate-to-api-keys-section-in-the-redleads-dashboard-locate-the-settings-option-in-the-left-hand-menu-under-settings-select-api-keys-generate-api-keys-once-in-the-api-keys-section-you-will-find-options-to-generate-both-the-key-id-and-key-secret-click-on-the-generate-key-secret-button-to-create-a-new-set-of-api-keys-securely-store-api-keys-after-generating-the-api-keys-it-is-crucial-to-securely-store-them-the-key-id-and-key-secret-are-essential-for-integrating-gray-matter-with-your-website-avoid-sharing-these-credentials-publicly-integration-with-your-website-now-integrate-redleads-with-your-website-by-incorporating-the-api-keys-into-your-crm-software-other-software-used-for-managing-customers-this-process-may-vary-based-on-your-websites-technology-stack-implement-redleads-sdk-to-enhance-the-user-experience-consider-implementing-the-redleads-sdk-on-your-website-the-sdk-facilitates-a-seamless-payment-process-and-provides-additional-customization-options-step-10-monitor-and-optimize-regularly-monitor-your-redleads-dashboard-for-transaction-insights-and-analytics-this-will-help-you-optimize-the-payment-process-and-address-any-issues-promptly-by-following-these-steps-you-can-seamlessly-integrate-gray-matters-red-leads-into-your-website-enabling-secure-and-efficient-online-transactions-remember-to-keep-your-api-keys-confidential-conduct-thorough-testing-and-stay-informed-about-updates-from-razorpay-for-continuous-improvement-7cp .this-step-by-step-guide-we-will-navigate-through-the-process-of-creating-a-gray-matter-account-generating-api-keys-and-integrating-them-into-your-website-we-offer-a-user-friendly-platform-with-a-suite-of-features-designed-to-streamline-the-leads-management-process-by-following-these-outlined-steps-youll-be-equipped-to-enhance-your-websites-capabilities-ensuring-a-secure-and-efficient-experience-for-your-customers-create-a-gray-matter-account-begin-by-visiting-the-official-gray-matter-website-and-sign-up-for-an-account-provide-the-required-details-and-complete-the-registration-process-shortly-our-team-will-get-in-touch-with-you-access-the-redleads-dashboard-upon-successful-registration-log-in-to-your-gray-matter-account-you-will-be-directed-to-the-redleads-dashboard-which-serves-as-the-central-hub-for-managing-your-leads-prospect-settings-navigate-to-api-keys-section-in-the-redleads-dashboard-locate-the-settings-option-in-the-left-hand-menu-under-settings-select-api-keys-generate-api-keys-once-in-the-api-keys-section-you-will-find-options-to-generate-both-the-key-id-and-key-secret-click-on-the-generate-key-secret-button-to-create-a-new-set-of-api-keys-securely-store-api-keys-after-generating-the-api-keys-it-is-crucial-to-securely-store-them-the-key-id-and-key-secret-are-essential-for-integrating-gray-matter-with-your-website-avoid-sharing-these-credentials-publicly-integration-with-your-website-now-integrate-redleads-with-your-website-by-incorporating-the-api-keys-into-your-crm-software-other-software-used-for-managing-customers-this-process-may-vary-based-on-your-websites-technology-stack-implement-redleads-sdk-to-enhance-the-user-experience-consider-implementing-the-redleads-sdk-on-your-website-the-sdk-facilitates-a-seamless-payment-process-and-provides-additional-customization-options-step-10-monitor-and-optimize-regularly-monitor-your-redleads-dashboard-for-transaction-insights-and-analytics-this-will-help-you-optimize-the-payment-process-and-address-any-issues-promptly-by-following-these-steps-you-can-seamlessly-integrate-gray-matters-red-leads-into-your-website-enabling-secure-and-efficient-online-transactions-remember-to-keep-your-api-keys-confidential-conduct-thorough-testing-and-stay-informed-about-updates-from-razorpay-for-continuous-improvement-7cp-sub-0 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.get-started-SHA .this-step-by-step-guide-we-will-navigate-through-the-process-of-creating-a-gray-matter-account-generating-api-keys-and-integrating-them-into-your-website-we-offer-a-user-friendly-platform-with-a-suite-of-features-designed-to-streamline-the-leads-management-process-by-following-these-outlined-steps-youll-be-equipped-to-enhance-your-websites-capabilities-ensuring-a-secure-and-efficient-experience-for-your-customers-create-a-gray-matter-account-begin-by-visiting-the-official-gray-matter-website-and-sign-up-for-an-account-provide-the-required-details-and-complete-the-registration-process-shortly-our-team-will-get-in-touch-with-you-access-the-redleads-dashboard-upon-successful-registration-log-in-to-your-gray-matter-account-you-will-be-directed-to-the-redleads-dashboard-which-serves-as-the-central-hub-for-managing-your-leads-prospect-settings-navigate-to-api-keys-section-in-the-redleads-dashboard-locate-the-settings-option-in-the-left-hand-menu-under-settings-select-api-keys-generate-api-keys-once-in-the-api-keys-section-you-will-find-options-to-generate-both-the-key-id-and-key-secret-click-on-the-generate-key-secret-button-to-create-a-new-set-of-api-keys-securely-store-api-keys-after-generating-the-api-keys-it-is-crucial-to-securely-store-them-the-key-id-and-key-secret-are-essential-for-integrating-gray-matter-with-your-website-avoid-sharing-these-credentials-publicly-integration-with-your-website-now-integrate-redleads-with-your-website-by-incorporating-the-api-keys-into-your-crm-software-other-software-used-for-managing-customers-this-process-may-vary-based-on-your-websites-technology-stack-implement-redleads-sdk-to-enhance-the-user-experience-consider-implementing-the-redleads-sdk-on-your-website-the-sdk-facilitates-a-seamless-payment-process-and-provides-additional-customization-options-step-10-monitor-and-optimize-regularly-monitor-your-redleads-dashboard-for-transaction-insights-and-analytics-this-will-help-you-optimize-the-payment-process-and-address-any-issues-promptly-by-following-these-steps-you-can-seamlessly-integrate-gray-matters-red-leads-into-your-website-enabling-secure-and-efficient-online-transactions-remember-to-keep-your-api-keys-confidential-conduct-thorough-testing-and-stay-informed-about-updates-from-razorpay-for-continuous-improvement-7cp .this-step-by-step-guide-we-will-navigate-through-the-process-of-creating-a-gray-matter-account-generating-api-keys-and-integrating-them-into-your-website-we-offer-a-user-friendly-platform-with-a-suite-of-features-designed-to-streamline-the-leads-management-process-by-following-these-outlined-steps-youll-be-equipped-to-enhance-your-websites-capabilities-ensuring-a-secure-and-efficient-experience-for-your-customers-create-a-gray-matter-account-begin-by-visiting-the-official-gray-matter-website-and-sign-up-for-an-account-provide-the-required-details-and-complete-the-registration-process-shortly-our-team-will-get-in-touch-with-you-access-the-redleads-dashboard-upon-successful-registration-log-in-to-your-gray-matter-account-you-will-be-directed-to-the-redleads-dashboard-which-serves-as-the-central-hub-for-managing-your-leads-prospect-settings-navigate-to-api-keys-section-in-the-redleads-dashboard-locate-the-settings-option-in-the-left-hand-menu-under-settings-select-api-keys-generate-api-keys-once-in-the-api-keys-section-you-will-find-options-to-generate-both-the-key-id-and-key-secret-click-on-the-generate-key-secret-button-to-create-a-new-set-of-api-keys-securely-store-api-keys-after-generating-the-api-keys-it-is-crucial-to-securely-store-them-the-key-id-and-key-secret-are-essential-for-integrating-gray-matter-with-your-website-avoid-sharing-these-credentials-publicly-integration-with-your-website-now-integrate-redleads-with-your-website-by-incorporating-the-api-keys-into-your-crm-software-other-software-used-for-managing-customers-this-process-may-vary-based-on-your-websites-technology-stack-implement-redleads-sdk-to-enhance-the-user-experience-consider-implementing-the-redleads-sdk-on-your-website-the-sdk-facilitates-a-seamless-payment-process-and-provides-additional-customization-options-step-10-monitor-and-optimize-regularly-monitor-your-redleads-dashboard-for-transaction-insights-and-analytics-this-will-help-you-optimize-the-payment-process-and-address-any-issues-promptly-by-following-these-steps-you-can-seamlessly-integrate-gray-matters-red-leads-into-your-website-enabling-secure-and-efficient-online-transactions-remember-to-keep-your-api-keys-confidential-conduct-thorough-testing-and-stay-informed-about-updates-from-razorpay-for-continuous-improvement-7cp-sub-1 {
}
.get-started-SHA .aditional-resources-b5N {
  box-sizing: border-box;
  padding: 1.7rem 4.299rem 1.73rem 2.128rem;
  width: 100.2rem;
  height: 5.9302rem;
  position: absolute;
  left: 25.9rem;
  top: 120.1rem;
  display: flex;
  align-items: center;
  border: solid 0.0924rem #eff0f6;
  background-color: #ffffff;
  border-radius: 1.8472rem;
}
.get-started-SHA .aditional-resources-b5N .info-1-GSQ {
  margin: 0.1rem 2.128rem 0rem 0rem;
  width: 2.3438rem;
  height: 2.3438rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.get-started-SHA .aditional-resources-b5N .metric-m8G {
  margin-right: 68.3771rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.get-started-SHA .aditional-resources-b5N .icons-UHa {
  margin-top: 0.3456rem;
  width: 0.9236rem;
  height: 0.5711rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.get-started-SHA .aditional-resources-ARJ {
  box-sizing: border-box;
  padding: 1.7rem 4.299rem 1.73rem 2.128rem;
  width: 100.2rem;
  height: 5.9302rem;
  position: absolute;
  left: 25.9rem;
  top: 128.4rem;
  display: flex;
  align-items: center;
  border: solid 0.0924rem #eff0f6;
  background-color: #ffffff;
  border-radius: 1.8472rem;
}
.get-started-SHA .aditional-resources-ARJ .info-1-f7A {
  margin: 0.1rem 2.128rem 0rem 0rem;
  width: 2.3438rem;
  height: 2.3438rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.get-started-SHA .aditional-resources-ARJ .metric-zQL {
  margin-right: 80.0771rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.get-started-SHA .aditional-resources-ARJ .icons-KxQ {
  margin-top: 0.3456rem;
  width: 0.9236rem;
  height: 0.5711rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
